*{
    margin:0;
    padding:0
}
body,html{
    height:100%;
    width:100%;
    overflow:hidden
}
.mod-page{
    height:100%;
    background-color:#deba88;
    background-image:url(../img/bg.jpg);
    z-index: 99;
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    background-position:center bottom;
    position:relative
}

html {
   -ms-touch-action: none; /* Direct all pointer events to JavaScript code. */

}



.button {
display: inline-block;
zoom: 1;
vertical-align: baseline;
margin: 0 2px;
outline: none;
cursor: pointer;
text-align: center;
text-decoration: none;
font: 14px/100% Arial, Helvetica, sans-serif;
padding: .5em 2em .55em;
text-shadow: 0 1px 1px rgba(0,0,0,.3);
-webkit-border-radius: .5em;
-moz-border-radius: .5em;
border-radius: .5em;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.red {    /* 文字颜色 */
color: #F1C9F2;
border: solid 0px #980c10;
background: #F1C9F2;
background-image: url(../img/mm.jpg);       
}
.active {
    background: green;
}