<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>demo page for H5</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<div id='wx_pic' style='margin:0 auto;display:none;'>
		<img src='http://imgcdn.tataufo.com/300x300.png' />
	</div>

	<link rel="stylesheet" type="text/css" href="../dist/jquery.fullpage.css" />
	<link rel="stylesheet" href="../dist/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../dist/page.css" />


    <script src="../dist/jquery-2.1.4.min.js"></script>

	<script type="text/javascript" src="../dist/jquery.fullpage.js"></script>
	<script type="text/javascript" src="../dist/page-load.js"></script>
    <script type="text/javascript" src="http://cdn.bootcss.com/jQuery-slimScroll/1.3.1/jquery.slimscroll.min.js"></script> <!-- 这个是scrollOverflow属性需要的js，内容超过满屏后是否显示滚动条 -->
    <script src="http://cdn.staticfile.org/jquery-easing/1.3/jquery.easing.min.js"></script>  <!-- 这个是回调函数的js -->

	<script type="text/javascript">
		$(document).ready(function() {
			$('#fullpage').fullpage({
				verticalCentered: false,
                anchors: ['firstPage', 'secondPage', '3rdPage', '4thPage'],
                navigation:true,
                navigationPosition:'right',
                css3: true,
                continuousVertical: true,  //无限滚动
                controlArrowColor: '#4dc3ff', //横页的导航的小圆圈颜色
                slidesNavigation: true, //横页的导航
                slidesNavPosition:'top', //横页的导航位置


                //equivalent to jQuery `easeOutBack` 参见 备份-CSS动画模拟
                easingcss3: 'cubic-bezier(0.445, 0.050, 0.550, 0.950)',
                afterLoad: function(anchorLink, index){
                    if(anchorLink == '3rdPage'){ //anchorLink为上面anchors的名称
                        $('.section3').find('p').delay(500).animate({
                            left: '0'
                        }, 1500, 'easeOutExpo');
                    }
                    if(index == 4){   //这里的index是从1开始第一页1，第二页2，第三页3
                        $('#section4').find('p').delay(500).animate({
                            bottom: '0'
                        }, 1500, 'easeOutExpo');
                    }
                    if(index == 5){
                        $('#section5').find('p').fadeIn(2000);
                    }
                },
                onLeave: function(index, direction){
                    if(index == '3'){
                        $('#section3').find('p').delay(500).animate({
                            left: '-120%'
                        }, 1500, 'easeOutExpo');
                    }
                    if(index == '4'){
                        $('#section4').find('p').delay(500).animate({
                            bottom: '-120%'
                        }, 1500, 'easeOutExpo');
                    }
                    if(index == '5'){
                        $('#section5').find('p').fadeOut(2000);
                    }
                }
			});
		});
	</script>

</head>
<body>

<!--footer-->
<div id="footer-mobile" class="footer-mobile">
    <div class="footer-logo pull-left sprite-sprite-tata-with-tile-white-horizontal" id="footer-logo"></div>
    <a href="#" id="footer-btn" class="btn btn-success pull-right" style="margin-right: 5%">去下载</a>
</div>
<!--footer-->


<div id="fullpage">
	<div class="section " id="section0">
        <h1>第一页</h1>
        <p>录入为主</p>

        <div class="form-group col-xs-12 ">
            <label class="col-md-3 col-xs-3 control-label samesize padding-left-0" for="text-input">Text Input</label>
            <div class="col-md-9 col-xs-9">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Text">
            </div>
        </div>

        <div class="form-group col-xs-12 ">
            <label class="col-md-3 col-xs-3 control-label samesize padding-left-0" for="text-input">Disabled</label>
            <div class="col-md-9 col-xs-9">
                <input type="text" id="disabled-input" name="disabled-input" class="form-control" placeholder="Disabled" disabled="">
            </div>
        </div>
        <div class="form-group col-xs-12">
            <label class="col-md-3 col-xs-3 control-label samesize padding-left-0" for="text-input">Select</label>
            <div class="col-md-9 col-xs-9">
                <select id="select" name="select" class="form-control">
                    <option value="0">Please select</option>
                    <option value="1">Option #1</option>
                    <option value="2">Option #2</option>
                    <option value="3">Option #3</option>
                </select>
                <span class="help-block">This is a help text</span>
            </div>
        </div>
        <div class="form-group col-xs-12">
            <label class="col-md-3 col-xs-3 control-label samesize padding-left-0" for="text-input">Radios</label>
            <div class="col-md-9 col-xs-9 text-left">
                <label class="radio-inline" for="inline-radio1">
                    <input type="radio" id="inline-radio1" name="inline-radios" value="option1"> One
                </label>
                <label class="radio-inline" for="inline-radio2">
                    <input type="radio" id="inline-radio2" name="inline-radios" value="option2"> Two
                </label>
                <label class="radio-inline" for="inline-radio3">
                    <input type="radio" id="inline-radio3" name="inline-radios" value="option3"> Three
                </label>
                <label class="radio-inline" for="inline-radio4">
                    <input type="radio" id="inline-radio4" name="inline-radios" value="option4"> Four
                </label>
            </div>
            <div class="col-md-9 col-xs-9 text-left">
                <div class="radio">
                    <label for="radio1">
                        <input type="radio" id="radio1" name="radios" value="option1"> Option 1
                    </label>
                </div>
                <div class="radio">
                    <label for="radio2">
                        <input type="radio" id="radio2" name="radios" value="option2"> Option 2
                    </label>
                </div>
                <div class="radio">
                    <label for="radio3">
                        <input type="radio" id="radio3" name="radios" value="option3"> Option 3
                    </label>
                </div>
                <div class="radio">
                    <label for="radio4">
                        <input type="radio" id="radio4" name="radios" value="option4"> Option 4
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group col-xs-12">
            <label class="col-md-3 col-xs-3 control-label samesize padding-left-0" for="text-input">Radios</label>
            <div class="col-md-9 col-xs-9 text-left">
                <label class="checkbox-inline" for="inline-checkbox1">
                    <input type="checkbox" id="inline-checkbox1" name="inline-checkbox1" value="option1"> One
                </label>
                <label class="checkbox-inline" for="inline-checkbox2">
                    <input type="checkbox" id="inline-checkbox2" name="inline-checkbox2" value="option2"> Two
                </label>
                <label class="checkbox-inline" for="inline-checkbox3">
                    <input type="checkbox" id="inline-checkbox3" name="inline-checkbox3" value="option3"> Three
                </label>
                <label class="checkbox-inline" for="inline-checkbox4">
                    <input type="checkbox" id="inline-checkbox4" name="inline-checkbox3" value="option4"> Four
                </label>
            </div>
            <div class="col-md-9 col-xs-9 text-left">
                <div class="checkbox">
                    <label for="checkbox1">
                        <input type="checkbox" id="checkbox1" name="checkbox1" value="option1"> Option 1
                    </label>
                </div>
                <div class="checkbox">
                    <label for="checkbox2">
                        <input type="checkbox" id="checkbox2" name="checkbox2" value="option2"> Option 2
                    </label>
                </div>
                <div class="checkbox">
                    <label for="checkbox3">
                        <input type="checkbox" id="checkbox3" name="checkbox3" value="option3"> Option 3
                    </label>
                </div>
                <div class="checkbox">
                    <label for="checkbox4">
                        <input type="checkbox" id="checkbox4" name="checkbox4" value="option4"> Option 4
                    </label>
                </div>
            </div>
        </div>

    </div>
	<div class="section" id="section1">
        <div class="slide" id="slide1">
            <div class="intro">
                <h1>How to do it</h1>
                <p>
                    You will need to place your header and footer outside the plugin's wrapper.
                    This way it won't move on scrolling. Take a look at the source code of this page.
                </p>
                <div class="panel-body">
                    <form action="" method="post" class="form-horizontal ">
                        <div class="form-group">
                            <div class="col-xs-4">
                                <input type="text" class="form-control" placeholder=".col-xs-4">
                            </div>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" placeholder=".col-xs-8">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-5">
                                <input type="text" class="form-control" placeholder=".col-xs-5">
                            </div>
                            <div class="col-xs-7">
                                <input type="text" class="form-control" placeholder=".col-xs-7">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <input type="text" class="form-control" placeholder=".col-xs-6">
                            </div>
                            <div class="col-xs-6">
                                <input type="text" class="form-control" placeholder=".col-xs-6">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-7">
                                <input type="text" class="form-control" placeholder=".col-xs-5">
                            </div>
                            <div class="col-xs-5">
                                <input type="text" class="form-control" placeholder=".col-xs-5">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-8">
                                <input type="text" class="form-control" placeholder=".col-xs-8">
                            </div>
                            <div class="col-xs-4">
                                <input type="text" class="form-control" placeholder=".col-xs-4">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="slide" id="slide2">
            <h1>Slide 2</h1>
            <img src="imgs/iphone-blue.png" alt="iphone" style="width: 100%;" />
            <img src="imgs/iphone-green.png" alt="iphone" style="width: 50%;float: left;" />
            <img src="imgs/iphone-green.png" alt="iphone" style="width: 25%;float: left;" />
        </div>
	</div>
	<div class="section section3" id="section3">

        <h3>第三屏,视频</h3>
        <p>滚动到第三屏后的回调函数执行的效果</p>
    </div>
	<div class="section section4" id="section4">
        <h3>第四屏,渐变背景</h3>
        <p>滚动到第四屏后的回调函数执行的效果</p>
    </div>
	<div class="section section5" id="section5">
        <h3>第五屏</h3>
        <p>滚动到第五屏后的回调函数执行的效果</p>
    </div>

</div>



<script>
    //位置
    var footermobile = document.getElementById("footer-mobile").offsetHeight;
    var footerbtn= document.getElementById("footer-btn").offsetHeight;
    var footerlogo= document.getElementById("footer-logo").offsetHeight;
    window.onload=function(){
        document.getElementById("footer-btn").style.marginTop = (footermobile-footerbtn)/2 + 'px';
        document.getElementById("footer-logo").style.marginTop = (footermobile-footerlogo)/2 + 'px';
    };

</script>
</body>
</html>