/*

Framework: Epsilon 1.0.1

Author: Enabled

Author URL: http://paultrifa.com

Description: Custom Mobile Framwork Available Exclusively on ThemeForest and in Enabled/CosminCotor developer projects!

Version: 1.0.130204

License: You MAY NOT resell / include in personal or commercial projects.

License Restrictions: You are not allowed to remove these comments, or take credit for this framework!

*/



.content{
	margin-left:15px;
	margin-right:15px;
	padding-bottom: 80px;

}

.container{	
	margin-bottom:20px;
}



body{
	background-image:url(../images/body-bg.png);
	-webkit-font-smoothing: antialiased;
	overflow-x:hidden;

}

h1,  h3, h4, h5       		{	color:#3d5477; 		font-family: 'Microsoft YaHei', sans-serif;		}
h2  						{	color:#444444; 		font-family: 'Microsoft YaHei', sans-serif;		}
h6       					{	color:#999999; 		font-family: 'Microsoft YaHei', sans-serif;		}

h1 > a						{	color:#999999; 		font-family: 'Microsoft YaHei', sans-serif;		}

h2 > a						{	color:#373737; 		font-family: 'Microsoft YaHei', sans-serif;		}

h3 > a						{	color:#373737; 		font-family: 'Microsoft YaHei', sans-serif;		}

h4 > a						{	color:#373737;		font-family: 'Microsoft YaHei', sans-serif;		}

h5 > a						{	color:#373737; 		font-family: 'Microsoft YaHei', sans-serif;		}

h6 > a						{	color:#373737; 		font-family: 'Microsoft YaHei', sans-serif;		}

p{
	color:#676767;
}


span						{	color:#8a8a8a;		font-family: 'Microsoft YaHei', sans-serif;	}

body						{	color:#676767;		font-family: 'Microsoft YaHei', sans-serif; font-size:12px}

input						{						font-family: 'Microsoft YaHei', sans-serif;}

li, ul						{	color:#8a8a8a;		}

a							{	color:#e34e47;		}

em							{	color:#8a8a8a;		}

blockquote					{	color:#8a8a8a!important;}


/*/////////////////////////////////////////////////////////////////////////////////////*/		

/*-----------------------------Toggle Style 5------------------------------------------*/

/*/////////////////////////////////////////////////////////////////////////////////////*/

.show-toggle-v5{		background-image:url(../ke01_img/minus.png);					}

.hide-toggle-v5{		background-image:url(../ke01_img/plus.png);					}



.toggle-v5 a{			color:#999999!important; font-family:'Microsoft YaHei', sans-serif!important; font-weight:400!important; font-size:14px; text-transform:uppercase;	}

.toggle-container-v5{	background-color:#FFFFFF; color:#9a9a9a!important;	}



/*/////////////////////////////////////////////////////////////////////////////////////*/		

/*-----------------------------Toggle Style 4------------------------------------------*/

/*/////////////////////////////////////////////////////////////////////////////////////*/

.show-toggle-v4{		background-image:url(../ke01_img/delete_16.png);			}

.hide-toggle-v4{		background-image:url(../ke01_img/plus_16.png);				}



.toggle-v4 a{			color:#999999!important; font-family:'Microsoft YaHei', sans-serif!important; font-weight:400!important;	font-size:14px; text-transform:uppercase;	}

.toggle-container-v4{	background-color:#FFFFFF; color:#9a9a9a!important;	}



/*/////////////////////////////////////////////////////////////////////////////////////*/		

/*-----------------------------Toggle Style 3------------------------------------------*/

/*/////////////////////////////////////////////////////////////////////////////////////*/

.show-toggle-v3{		background-image:url(../ke01_img/switch-on.png); 				}

.hide-toggle-v3{		background-image:url(../ke01_img/switch-off.png);				}



.toggle-v3 a{			color:#999999!important; font-family:'Microsoft YaHei', sans-serif!important; font-weight:400!important; font-size:14px; text-transform:uppercase;	}

.toggle-container-v3{	background-color:#FFFFFF; color:#9a9a9a!important;	}



/*/////////////////////////////////////////////////////////////////////////////////////*/		

/*-----------------------------Toggle Style 2------------------------------------------*/

/*/////////////////////////////////////////////////////////////////////////////////////*/

.show-toggle-v2{		background-image:url(../ke01_img/delete_16.png);			}

.hide-toggle-v2{		background-image:url(../ke01_img/plus_16.png);				}



.toggle-v2 a{			color:#999999!important; font-family:'Microsoft YaHei', sans-serif!important; font-weight:400!important; font-size:14px; text-transform:uppercase;	}

.toggle-container-v2{	background-color:#FFFFFF; color:#9a9a9a!important;	}

		

/*/////////////////////////////////////////////////////////////////////////////////////*/		

/*-----------------------------Toggle Style 1------------------------------------------*/

/*/////////////////////////////////////////////////////////////////////////////////////*/

.show-toggle-v1{	background-image:url(../ke01_img/minus.png);						}

.hide-toggle-v1{	background-image:url(../ke01_img/plus.png);						}



.toggle-v1 a{			color:#999999!important; font-family:'Microsoft YaHei', sans-serif!important; font-weight:400!important;	font-size:14px; text-transform:uppercase;	}

.toggle-container-v1{	background-color:#FFFFFF; color:#9a9a9a!important;	}




