/*reset*/
body, dl, dt, dd, ol, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, th, td, input:focus, textarea:focus {
    padding: 0;
    margin: 0;
    color: #FFF;
    background-color: rgb(27, 90, 152);
    font-family: "Microsoft YaHei", Arial, sans-serif;
}
.container{
    background: none;
}
h1 {
    font-weight: normal;
    font-size: 3em;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
}

.smaller-text{
    font-size: .7em;
    line-height: 1em;
    margin-top: .5em;
}
img {
    border: 0;
}

input, textarea {
    outline: none;
}

input:focus, textarea:focus {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-modify: read-write-plaintext-only;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

/*Header*/
.header {
    width: 100%;
    height: 4em;
    min-height: 4em;
    z-index: 17;
    background: none;
    min-width: 1000px;
    _width: expression(document.body.clientWidth < 1001? "1000": "auto" );
}

.fixed {
    position: fixed;
    top: 1em;
    left: 0;
}

.b_bottom {
    margin-top: 1em;
    border-bottom: 1px solid #E7E7E7;
}

.header_wrap {
    position: relative;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background: none;
}

.header a.logo, .header a.logo_grey {
    position: absolute;
    top: .3em;
    left: 3em;
    text-decoration: none;
    text-indent: -999em;
    display: block;
    width: 200px;
    height: 55px;
}

.header a.logo {
    background: url(img/logo.png) no-repeat;
}

.header a.logo_grey {
    background: url(img/logo.png) no-repeat;
}

.header .nav, .header .nav_grey {
    position: absolute;
    top: .6em;
    right: 1em;
    display: block;
    z-index: 18;
}

.header .nav a,
.header .nav_grey a {
    text-decoration: none;
    font-size: 1em;
    color: #fff;
    padding: 0 1em;
    border-right: 2px solid #fff;
}

.header .nav_grey a {
    color: #555;
    border-right: 1px solid #555;
}

.header .nav a img,
.header .nav_grey a img {
    margin-left: .2em;
}

#navList_bar {
    border-right: none;
}

/*Menu*/
#menu {
    position: fixed;
    top: 50%;
    right: 2.5em;
    width: 2em;
    z-index: 70;
    padding: 0;
    margin-top: -5em;
    -webkit-transition: opacity 0.6s 0s;
    -moz-transition: opacity 0.6s 0s;
    -ms-transition: opacity 0.6s 0s;
    -o-transition: opacity 0.6s 0s;
    transition: opacity 0.6s 0s;
}

#menu li {
    margin: 1em;
    background: transparent;
    border: 1px solid #fff;
    -webkit-border-radius: .6em;
    -mos-border-radius: .6em;
    -o-border-radius: .6em;
    border-radius: .6em;
    height: .6em;
    width: .6em;
    text-indent: 999em;
    -webkit-transition: All 0.5s 0s;
    -moz-transition: All 0.5s 0s;
    -ms-transition: All 0.5s 0s;
    -o-transition: All 0.5s 0s;
    transition: All 0.5s 0s;
    -webkit-transition: transform 0.5s ease 0s, background-color 0.5s ease 0s;
    -moz-transition: transform 0.5s ease 0s, background-color 0.5s ease 0s;
    -ms-transition: transform 0.5s ease 0s, background-color 0.5s ease 0s;
    -o-transition: transform 0.5s ease 0s, background-color 0.5s ease 0s;
    transition: transform 0.5s ease 0s, background-color 0.5s ease 0s;
}

#menu li.grey {
    border: 1px solid #6C6C6C;
    background: transparent;
}

#menu li.grey.active {
    border: 1px solid #6C6C6C;
    background: #6C6C6C;
    filter: alpha(opacity=80);
    -moz-opacity: .8;
    opacity: .8;
    -webkit-transition: All 0.5s 0s;
    -moz-transition: All 0.5s 0s;
    -ms-transition: All 0.5s 0s;
    -o-transition: All 0.5s 0s;
    transition: All 0.5s 0s;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

#menu li.active {
    border: 1px solid #fff;
    background: #fff;
    filter: alpha(opacity=80);
    -moz-opacity: .8;
    opacity: .8;
    -webkit-transition: All 0.5s 0s;
    -moz-transition: All 0.5s 0s;
    -ms-transition: All 0.5s 0s;
    -o-transition: All 0.5s 0s;
    transition: All 0.5s 0s;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

#menu li a {
    text-decoration: none;
    outline: none;
}

#menu li a, #menu li.active a {
    display: block;
}

/*Section*/
#fullpage {
    width: 100%;
    min-width: 1004px;
    _width: expression(document.body.clientWidth < 1005? "1004px": "auto" );
    min-height: 600px;
    _height: expression(document.body.clientHeight < 601? "600px": "auto" );
}

.section {
    width: 100%;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.section .logo_title,
.section .logo_title_cn,
.section .logo_text,
.section .logo_text_cn {
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    transition: all 1s;
}

.active .logo_title,
.section .logo_title_cn,
.active .logo_text,
.section .logo_text_cn {
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-delay: 0.7s;
}

.section .logo_title {
    width: 14em;
    margin: 0 auto 0.7em auto;
}

.section .logo_title_cn {
    width: 8em;
    margin: 0 auto 0.7em auto;
}

.section .logo_text {
    width: 16.5625em;
    height: 1.9375em;
    margin: 0 auto 1.25em auto;
}

.section .logo_text_cn {
    width: 9.625em;
    height: 2em;
    margin: 0 auto 1.25em auto;
}

.section p.grey {
    color: #555;
}

.container .row {
    position: absolute;
    bottom: 15%;
    left: 0;
    width: 100%;
    z-index: 1000;
}

#watch-video {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -81px;
    bottom: 120px;
}

.section .content, .section .content_cn {
    margin-top: .5em;
    font-size: 1.25em;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    transition: all 1s;
}

.active .content, .active .content_cn {
    filter: alpha(opacity=1);
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-delay: 0.7s;
}

div.homebg01, div.homebg02, div.homebg03, div.homebg04, div.homebg05 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 1s;
}

div.homebg01 {
    background: url(img/page1.png) no-repeat;
    background-position: center 0%;
    background-size: 52% auto;
}

div.homebg02 {
    background: url(img/page2.png) no-repeat;
    background-position: center 20%;
    background-size: 52% auto;
}

div.homebg03 {
    background: url(img/page3.png) no-repeat;
    background-position: center 20%;
    background-size: 52% auto;
}

div.homebg04 {
    background: url(img/page4.png) no-repeat;
    background-position: center 20%;
    background-size: 52% auto;
}


.active div.homebg01, .active div.homebg02, .active div.homebg03, .active div.homebg04, .active div.homebg05 {
    background-position: center 30%;
    opacity: 1;
    transition-delay: 0.7s;
}

/*Button*/
.download_button {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
}

.download_button {
    z-index: 1004;
}

.download_button a {
    display: inline-block;
    color: #90c5f9;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    border: 1px solid #fff;
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.download_button a.googleplay {
    width: 110px;
    padding-left: 43px;
    background: url(img/googleplay.png) 18px center no-repeat;
    text-align: left;
}

.download_button a.googleplay:hover {
    background: #fff url(img/googleplay.png) 18px center no-repeat;
    color: #00A2E0;
    border-color: #fff;
}

.download_button a.download {
    width: 100px;
    margin-left: 7px;
    padding: 0 42px 0 55px;
    text-align: center;
    font-weight: bold;
    background: #dfefff url(img/icon_sao_hover.png) 24px center no-repeat;
    color: #1b5a98;
    border-color: #dfefff;
}

.download_button a.download_cn {
    width: 130px;
    /* margin-left: -20px; */
    margin-bottom: 23px;
}



.download_button a.download:hover,
.download_button a.download_cn:hover,
.download_button a.download_cn.grey:hover,
.download_button a.download.grey:hover {
    background: #dfefff url(img/icon_sao_hover.png) 24px center no-repeat;
    color: #1b5a98;
    border-color: #dfefff;
}

.download_button a.grey {
    color: #888;
    border-color: #888;
}

.download_button a.grey:hover {
    color: #007FDF;
}

.download_button a.app_icon {
    border: none;
    width: 44px;
    height: 44px;
    margin-left: 7px;
    vertical-align: middle;
}

.download_button a.wechat_button {
    background: url('img/icon_wechat_normal.png') 0 0 no-repeat;
}

.download_button a.wechat_button:hover,
.download_button a.wechat_button.grey:hover {
    background: url('img/icon_wechat_hover.png') 0 0 no-repeat;
}

.download_button a.offical_button {
    background: url('img/icon_offical_normal.png') 0 0 no-repeat;
}

.download_button a.offical_button:hover,
.download_button a.offical_button.grey:hover {
    background: url('img/icon_offical_hover.png') 0 0 no-repeat;
}

.download_button a.offical_button.grey {
    background: url('img/icon_360_grey.png') 0 0 no-repeat;
}

.download_button a.webo_button {
    background: url('img/icon_webo_normal.png') 0 0 no-repeat;
}

.download_button a.webo_button:hover,
.download_button a.webo_button.grey:hover {
    background: url('img/icon_webo_hover.png') 0 0 no-repeat;
}

.download_button a.webo_button.grey {
    background: url('img/icon_baidu_grey.png') 0 0 no-repeat;
}

.download_button a.code_button {
    background: url('img/icon_code_white.png') 0 0 no-repeat;
}

.download_button a.code_button:hover,
.download_button a.code_button.grey:hover {
    background: url('img/icon_code_hover.png') 0 0 no-repeat;
}

.download_button a.code_button.grey {
    background: url('img/icon_code_grey.png') 0 0 no-repeat;
}

.mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1005;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
}

.code_box {
    position: fixed;
    width: 229px;
    height: 229px;
    margin-left: -190px;
    margin-top: -190px;
    background: #fff;
    z-index: 1006;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    transition: all 1s;
}

.code_box.show {
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
}

.code_box.show_hide {
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
}

.code_box_wechat {
    position: fixed;
    width: 229px;
    height: 229px;
    margin-left: -190px;
    margin-top: -190px;
    background: #fff;
    z-index: 1006;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    transition: all 1s;
}

.code_box_wechat.show {
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
}

.code_box_wechat.show_hide {
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
}


.code_box_webo {
    position: fixed;
    width: 229px;
    height: 229px;
    margin-left: -190px;
    margin-top: -190px;
    background: #fff;
    z-index: 1006;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    transition: all 1s;
}

.code_box_webo.show {
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
}

.code_box_webo.show_hide {
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
}

.rocket{
    position: fixed;
    left: -15%;
    bottom: 20%;
    z-index: 1005;
    transform: rotate(-30deg);
    -webkit-animation: rotation 12.5s linear infinite;
    -o-animation: rotation 12.5s linear infinite;
    animation: rotation 12.5s linear infinite;
}
@keyframes rotation {

    0% {transform:rotate(0deg);}

    100% {transform:rotate(-360deg);}

}

@-webkit-keyframes rotation {

    0% {-webkit-transform:rotate(0deg);}

    100% {-webkit-transform:rotate(-360deg);}

}

@-moz-keyframes rotation {

    0% {-moz-transform:rotate(0deg);}

    100% {-moz-transform:rotate(-360deg);}

}
@keyframes nucleus_ {
    0% {
        opacity: 0;
    } 50% {
          opacity: 1;
      } 100% {
            opacity: 0;
        }
}

@-webkit-keyframes nucleus_ {
    0% {
        opacity: 0;
    } 50% {
          opacity: 1;
      } 100% {
            opacity: 0;
        }

}
.star-1{
    position: fixed;
    left: 25%;
    top: 15%;
    z-index: 999;
    -webkit-animation: nucleus_ 2s infinite linear;
    animation: nucleus_ 2s  infinite linear;
}
.star-2{
    position: fixed;
    right: 25%;
    top: 25%;
    z-index: 999;
    transform: scale(.8);
    -webkit-animation: nucleus_ 1.8s infinite linear;
    animation: nucleus_ 1.8s  infinite linear;
}
.star-3{
    position: fixed;
    left: 10%;
    top: 55%;
    z-index: 999;
    transform: scale(.6);
    -webkit-animation: nucleus_ 2.2s infinite linear;
    animation: nucleus_ 2.2s  infinite linear;
}
.star-4{
    position: fixed;
    right: 10%;
    bottom: 55%;
    z-index: 999;
    transform: scale(.3);
    -webkit-animation: nucleus_ 2s infinite linear;
    animation: nucleus_ 2s  infinite linear;
}
.star-5{
    position: fixed;
    left: 15%;
    top: 25%;
    z-index: 999;
    -webkit-animation: nucleus_ 2s infinite linear;
    animation: nucleus_ 2s  infinite linear;
}
.star-6{
    position: fixed;
    left: 30%;
    bottom: 27%;
    z-index: 999;
    transform: scale(.7);
    -webkit-animation: nucleus_ 2.4s infinite linear;
    animation: nucleus_ 2.4s  infinite linear;
}
.star-7{
    position: fixed;
    right: 15%;
    bottom: 35%;
    z-index: 999;
    transform: scale(.7);
    -webkit-animation: nucleus_ 1.6s infinite linear;
    animation: nucleus_ 1.6s  infinite linear;
}
.bottom-earth{
    position: fixed;
    left: 20%;
    bottom: -1px;
    z-index: 1003;
}
.download_code{
    width: 229px;
}