<!DOCTYPE html>
<html lang="zh-cn" class="no-js">
<head>
  <meta http-equiv="Content-Type">
  <meta content="text/html; charset=utf-8">
  <meta charset="utf-8">
  <title>tataUFO landing page version 3.0</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="email=no">
  <meta name="Description"
        content="tataUFO是一个针对高校学生的在线交友平台以提供高效 真实和高信赖度的交友服务为目标。tataUFO每天为你传送一位异性同学 勇敢地坐上传送爱的时光机为你心仪的ta. ">
  <meta name="Keywords"
        content="Tataufo tataUFO 大学 大学生 同学 初恋 交友 异性朋友 同城交友 北京 上海 武汉 广州 深圳 新缘分 纯爱时代 校园 北大 北京大学 清华 清华大学 人大 人民大学 跨校恋 轻约会 大学生活 新生 宿舍 校园轻约会">
  <meta property="og:title" content="大学生轻社交 tataUFO">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://www.tataufo.com/">
  <meta property="og:image" content="http://imgcdn.tataufo.com/resources/images/og_logo.png">
  <meta property="og:description"
        content="tataUFO是一个针对高校学生的在线交友平台以提供高效 真实和高信赖度的交友服务为目标。tataUFO每天为你传送一位异性同学 勇敢地坐上传送爱的时光机 为你心仪的ta。">


  <!-- Favicon and touch icons -->
  <link rel="shortcut icon" href="/static/tata_phone/ico/favicon.ico" type="image/x-icon"/>
  <link rel="apple-touch-icon" sizes="57x57" href="/static/tata_phone/ico/apple-touch-icon-57x57.png"/>
  <link rel="apple-touch-icon" sizes="72x72" href="/static/tata_phone/ico/apple-touch-icon-72x72.png"/>
  <link rel="apple-touch-icon" sizes="76x76" href="/static/tata_phone/ico/apple-touch-icon-76x76.png"/>
  <link rel="apple-touch-icon" sizes="114x114" href="/static/tata_phone/ico/apple-touch-icon-114x114.png"/>
  <link rel="apple-touch-icon" sizes="120x120" href="/static/tata_phone/ico/apple-touch-icon-120x120.png"/>
  <link rel="apple-touch-icon" sizes="144x144" href="/static/tata_phone/ico/apple-touch-icon-144x144.png"/>
  <link rel="apple-touch-icon" sizes="152x152" href="/static/tata_phone/ico/apple-touch-icon-152x152.png"/>


  <link rel="stylesheet" type="text/css" href="/static/tata_phone/css/reset.css" />
  <link rel="stylesheet" type="text/css" href="/static/tata_phone/css/index.css" />
  <link rel="stylesheet" type="text/css" href="/static/tata_phone/css/animations.css" />
  <link rel="stylesheet" type="text/css" href="/static/tata_phone/css/img-load.css" />

</head>
<body>

<div id="content" >
  <div class="page page-1-1 page-current">
    <div class="wrap">
      <div class="sprite-img-star stars"></div>
      <div class="sprite-img-star stars"></div>
      <div class="sprite-img-star-gray stars"></div>
      <div class="sprite-img-star-gray stars"></div>
      <div class="sprite-img-star-gray stars"></div>
      <div class="sprite-img-star-gray stars"></div>
      <div class="sprite-img-star-gray stars"></div>
      <div class="sprite-img-planet1 page1-planet1 pulse"></div>
      <div class="sprite-img-logo page1-logo"></div>
      <div class="sprite-img-planet0"></div>
      <div class="sprite-img-planet2 page1-planet2 qiuqian"></div>
      <div class="sprite-img-ziran page1-icon-1 rollinright"></div>
      <div class="sprite-img-chuncui page1-icon-2 rollin"></div>
      <div class="sprite-img-anquan page1-icon-3 rotateinleftbot"></div>
      <div class="sprite-img-qingxin page1-icon-4 rotateinrightbot"></div>
      <div class="line-1"><div class="light"></div></div>
      <div class="line-2"><div class="light"></div></div>
      <div class="line-3"><div class="light"></div></div>
      <!--<div class="sprite-img-title-1 page1-title"></div>-->
      <div class="start">欢迎启程<br/><span class="starcont">一款只有大学生才能打开的App！</span></div>
      <div class="page1-btn download-link" onclick="window.open('http://tataufo.com/welcome/download');">免费下载</div>
      <img class="img_3 pt-page-moveIconUp" src="/static/tata_phone/img/icon_up.png" />
    </div>
  </div>
  <div class="page page-2-1 hide">
    <div class="wrap">
      <div class="sprite-img-star stars"></div>
      <div class="sprite-img-star stars"></div>
      <div class="sprite-img-star-gray stars"></div>
      <div class="sprite-img-star-gray stars"></div>
      <div class="sprite-img-star-gray stars"></div>
      <div class="sprite-img-star-gray stars"></div>
      <div class="sprite-img-star-gray stars"></div>
      <div class="sprite-img-bike"></div>
      <div class="rocket"><img src="/static/tata_phone/img/img/rocket.png" width="15%"  alt=""/></div>
      <div class="sprite-img-human"></div>
      <div class="sprite-img-form pt-page-moveCircle"></div>
      <div class="sprite-img-forest show2"></div>
      <div class="sprite-img-jump  pt-page-delay500 show"></div>
      <div class="sprite-img-rengong"></div>
      <div class="sprite-img-inside"></div>
      <img class="img_6 pt-page-moveIconUp" src="/static/tata_phone/img/icon_up.png" />
    </div>
  </div>
  <div class="page page-3-1 hide">
    <div class="wrap">
      <div class="sprite-img-intro rubberBand"></div>
      <div class="sprite-img-star stars"></div>
      <div class="sprite-img-star stars"></div>
      <div class="sprite-img-star-gray stars"></div>
      <div class="sprite-img-star-gray stars"></div>
      <div class="sprite-img-star-gray stars"></div>
      <div class="sprite-img-star-gray stars"></div>
      <div class="sprite-img-star-gray stars"></div>
      <ul class="ay">

        <div class="lai">
          <img class="page0_round" src="/static/tata_phone/img/round.png"></div>
      </ul>
      <!--<div class="lai"><img class="page0_round" src="/static/tata_phone/img/round.png"></div>-->
      <div class="follow pt-page-moveFromRight">独一无二的推荐机制<br/>全新改版的社区、社团</div>

      <img class="img_6 hide pt-page-moveIconUp" src="/static/tata_phone/img/icon_up.png" />
    </div>
  </div>
  <div class="page page-4-1 hide">
    <div class="wrap">
      <div class="sprite-img-star stars"></div>
      <div class="sprite-img-star stars"></div>
      <div class="sprite-img-star-gray stars"></div>
      <div class="sprite-img-star-gray stars"></div>
      <div class="sprite-img-star-gray stars"></div>
      <div class="sprite-img-star-gray stars"></div>
      <div class="sprite-img-star-gray stars"></div>
      <div class="linenone"><div class="earth img-ear-6"></div></div>
      <div class="linentwo"><div class="earth img-ear-5"></div></div>
      <div class="linenthree"><div class="earth img-ear-2"></div></div>
      <div class="linenfour"><div class="earth img-ear-4"></div></div>
      <div class="sprite-img-ear-7"></div>
      <div class="sprite-img-ear-1"></div>
      <div class="sprite-img-ear-3"></div>
      <div class="sprite-img-earth-main"></div>
      <div class="sprite-img-people stars"></div>
      <div class="sprite-img-people stars"></div>
      <div class="sprite-img-people stars"></div>
      <div class="sprite-img-people stars"></div>
      <div class="page4-btn download-link" onclick="window.open('http://tataufo.com/welcome/download');">免费下载</div>
      <div class="sprite-img-txt" onclick="window.open('http://www.tataufo.com/company');"></div>
      <div class="last">带你发现新世界 <br/><br/><span class="last-con">陌生的城市、陌生的人群一颗颗孤单的小星球<br>聚集在一起，发出更大的光</span></div>
    </div>
  </div>

</div>







<script src="/static/tata_phone/js/zepto.min.js"></script>
<script src="/static/tata_phone/js/touch.js"></script>
<script src="/static/tata_phone/js/index.js"></script>
<script type="text/javascript">

  var bodyW = $(document).width();
  console.log((bodyW - 243)/2/bodyW*100);
  $(document).ready(function(){
    $('.page1-title').css({'left':(bodyW - 168)/2/bodyW*100 + '%'});   //title 位置
//                $('.sprite-img-planet0').css({'margin-left':(bodyW - 203)/2/bodyW*100 + '%'});   //星球 位置
    $('.sprite-img-bike').css({'left':(bodyW - 280)/2/bodyW*100 + '%'});   //第二页背景 位置
    $('.sprite-img-human').css({'left':(bodyW - 121)/2/bodyW*100 + '%'});   //人工肾喝 位置
    $('.sprite-img-form').css({'left':(bodyW - 154)/2/bodyW*100 + '%'});   //提交 位置
    $('.show').css({'left':(bodyW - 217)/2/bodyW*100 + '%'});   //建筑 位置
    $('.sprite-img-forest').css({'left':(bodyW - 176)/2/bodyW*100 + '%'});   //shu 位置
    $('.sprite-img-rengong').css({'left':(bodyW - 76)/2/bodyW*100 + '%'});   //人工 位置
    $('.linenone').css({'left':(bodyW - 288)/2/bodyW*100 + '%'});   //最后一页圈1 位置
    $('.linentwo').css({'left':(bodyW - 247)/2/bodyW*100 + '%'});   //最后一页圈2 位置
    $('.linenthree').css({'left':(bodyW - 202)/2/bodyW*100 + '%'});   //最后一页圈3 位置
    $('.sprite-img-earth-main').css({'left':(bodyW - 128)/2/bodyW*100 + '%'});   //最后一页圈3 位置
    $('.sprite-img-inside').css({'left':(bodyW - 207)/2/bodyW*100 + '%'});   //进入小嗒嗒的世界 位置
    $('.sprite-img-intro').css({'left':(bodyW - 169)/2/bodyW*100 + '%'});  //人物
    $('.sprite-img-txt').css({'left':(bodyW - 298)/2/bodyW*100 + '%'});  //wenzi
    var xiaoren = (bodyW - 128)/2/bodyW*100;
    $('.stars:nth-of-type(16)').css({'left':xiaoren - 4 +'%'});
    $('.stars:nth-of-type(17)').css({'left':xiaoren + 4 +'%'});
    $('.stars:nth-of-type(18)').css({'right':xiaoren + 4 +'%'});
    $('.stars:nth-of-type(19)').css({'right':xiaoren - 4 +'%'});

    var earth = (bodyW - 203)/2/bodyW*100;
    $('.page1-icon-2').css({'left':earth+3 + '%'});
    $('.page1-icon-1').css({'right':earth+3 + '%'});
    $('.page1-icon-3').css({'left':earth+3 + '%'});
    $('.page1-icon-4').css({'right':earth+10 + '%'});


  });


</script>
</body>

</html>
