.popup-insert-num .content-popup, .popup-success .content-popup, .popup-video .content-popup {
  background: white;
  padding: 0 .5rem;
  margin: 0 !important;
  position: absolute;
  width: 80%;
  left: 10%;
  top: 25%; }

.apple-icon, .android-icon {
  padding: 10px;
  width: 40%;
  border: 1px solid #959595;
  border-radius: 50%; }

.apple-icon-active, .android-icon-active {
  padding: 10px;
  width: 40%;
  border: 1px solid #cd4536;
  border-radius: 50%;
  display: none; }

.content {
  background: #3a2622; }

.reserve {
  position: absolute;
  top: 72%;
  width: 100%;
  text-align: center; }
  .reserve img {
    width: 55%; }
  .reserve .reserv-btn-group {
    cursor: pointer;
    position: relative; }
  .reserve .reserve-now {
    color: white;
    font-size: 1.5em;
    position: absolute;
    width: 60%;
    left: 20%;
    top: .5em;
    margin: 0;
    line-height: 1.5em;
    height: 1.5em; }
  .reserve .reserve-now-btn-bg {
    position: absolute;
    top: 0;
    width: 50%;
    left: 25%; }
  .reserve .reserve-num {
    color: white;
    font-size: .7em;
    margin: 0;
    width: 50%;
    position: absolute;
    left: 25%;
    height: 1.5em;
    line-height: 1.5em;
    top: 4em; }
    .reserve .reserve-num span {
      color: #ded84f; }

.agreement-check {
  width: 8em;
  text-align: left;
  color: white;
  font-size: .6em;
  height: 20px;
  line-height: 20px;
  margin: 18% auto 2.5em; }

.piaochecked {
  width: 20px;
  height: 20px;
  float: left;
  cursor: pointer;
  text-align: center;
  background-image: url(../image/ff_reserve_1207/checkbox_01.png);
  background-repeat: no-repeat;
  background-position: 0 0; }

.on_check {
  background-position: 0 -21px; }

.radioclass {
  opacity: 0;
  cursor: pointer;
  filter: alpha(opacity=0); }

.video-avatar {
  width: 100%;
  cursor: pointer;
  display: block; }

.section_2_bg {
  width: 100%;
  display: block; }

.reserve-content {
  margin: 5% 0; }
  .reserve-content img {
    width: 100%; }

.popup-insert-num {
  background: none; }

.popup-success {
  background: none; }

.popup-video {
  background: none; }

.close-btn {
  position: absolute;
  top: -30px;
  right: 0;
  width: 30px; }

.modal-input-title {
  margin: 1em;
  text-align: center;
  font-size: .9em; }

.android-device {
  text-align: left;
  padding-left: .5em; }

.apple-device {
  text-align: right;
  padding-right: .5em; }

.bg-top {
  display: block; }

.section_bottom_bg {
  display: block;
  width: 100%; }

.search-input {
  width: 90%;
  margin: 0 auto; }
  .search-input input {
    border-radius: 0.1em; }

.reserve-now-btn {
  width: 30%;
  margin: 1em auto; }

.button-reserve {
  border-radius: 0.1em;
  background: #959595 !important; }
  .button-reserve.available {
    background: #ea8c39 !important; }

.button-reserve-back {
  border-radius: 0.1em;
  background: #ea8c39 !important; }

.warning {
  font-size: .7em;
  text-align: center;
  display: none; }

.memo {
  font-size: .7em;
  text-align: center; }

.video-control {
  position: absolute;
  top: 27%;
  width: 24%;
  right: 10%;
  cursor: pointer; }
  .video-control img {
    width: 100%; }

#videoPlayer {
  width: 100%;
  padding-top: .5em; }

.sina_terms {
  color: white; }

.section_mid {
  background: url(../image/ff_reserve_1207/section_mid_bg.png) no-repeat;
  height: 21px;
  background-size: contain; }

.section_3 {
  background: #3a2622;
  position: relative;
  width: 100%;
  height: 350px; }

.swiper-container {
  width: 92%;
  top: 5%;
  background: #3a2622; }

.swiper-wrapper {
  height: 400px; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .swiper-slide img {
    width: 100%; }

.swiper-pagination {
  bottom: 7%;
  text-align: center;
  width: 100%;
  margin: 0 auto; }
  .swiper-pagination span {
    margin: 0 5px; }
  .swiper-pagination .swiper-pagination-bullet-active {
    background: #eabb41; }

.arrow-btn {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 44px;
  margin-top: -20px;
  z-index: 2000;
  cursor: pointer; }

#videoNew {
  width: 100%;
  height: 300px;
  margin-top: 0.5rem; }

/*# sourceMappingURL=ff_reserve_1207.css.map */
