html{-webkit-text-size-adjust:none;}
@keyframes nucleus_ {
    0% {
       opacity: 0;
    } 50% {
          opacity: 1;
      } 100% {
            opacity: 0;
        }
}

@-webkit-keyframes nucleus_ {
    0% {
        opacity: 0;
    } 50% {
          opacity: 1;
      } 100% {
            opacity: 0;
        }

}
.stars:first-of-type{
    position: absolute;
    top: 50%;
    left: 30px;
    -webkit-animation: nucleus_ 2s infinite linear;
    animation: nucleus_ 2s infinite linear;
}
.stars:nth-of-type(2){
    position: absolute;
    top:60%;
    right: 30px;
    transform: scale(2);
    -webkit-animation: nucleus_ 3s infinite linear;
    animation: nucleus_ 3s  infinite linear;
}
.stars:nth-of-type(3){
    position: absolute;
    top:10%;
    right: 25px;
    -webkit-animation: nucleus_ 3.5s infinite linear;
    animation: nucleus_ 3.5s  infinite linear;
}

.stars:nth-of-type(4){
    position: absolute;
    top:15%;
    left: 35px;
    -webkit-animation: nucleus_ 4.2s infinite linear;
    animation: nucleus_ 4.2s  infinite linear;
}

.stars:nth-of-type(5){
    position: absolute;
    top:24%;
    left: 40%;
    transform: scale(1.4);
    -webkit-animation: nucleus_ 5.5s infinite linear;
    animation: nucleus_ 5.5s  infinite linear;
}
.stars:nth-of-type(6){
    position: absolute;
    bottom:25%;
    left: 60%;
    transform: scale(1.3);
    -webkit-animation: nucleus_ 4.5s infinite linear;
    animation: nucleus_ 4.5s  infinite linear;
}
.stars:nth-of-type(7){
    position: absolute;
    bottom:15%;
    left: 30%;
    transform: scale(1.2);
    -webkit-animation: nucleus_ 2s infinite linear;
    animation: nucleus_ 2s  infinite linear;
}
.stars:nth-of-type(8){
    position: absolute;
    bottom:15%;
    left: 30%;
    transform: scale(1.2);
    -webkit-animation: nucleus_ 2s infinite linear;
    animation: nucleus_ 2s  infinite linear;
}
.page1-planet1{
    position: absolute;
    bottom:25%;
    left: 10%;
}
.page1-logo{
    position: absolute;
    top:4%;
    left: 9%;
}
.sprite-img-planet0{
    top: 36%;
    left: 20%;
    position: absolute;
}
.line-1{
    position: absolute;
    top: 30%;
    left: 40%;
    margin-left: -103px;
    width: 257px;
    height: 257px;
    border-radius: 50%;
    border: 11px solid #3b7bb1;
    border-right: none;
    /* border-bottom: none; */
    border-top: none;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateX(111deg) rotateY(44deg) rotateZ(115deg);
    transform-style: preserve-3d;
    transform: rotateX(111deg) rotateY(44deg) rotateZ(115deg);
}
.line-1>.light{
    width: 257px;
    height: 257px;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -webkit-animation: trail_ 4s infinite linear;
    transform-style: preserve-3d;
    animation: trail_ 4s infinite linear;
}
.light:after {
    content: "";
    position: absolute;
    top: -5px;
    box-shadow: 0 0 12px #fc8888;
    left: 50%;
    margin-left: -5px;
    width: 15px;
    height: 10px;
    border-radius: 50%;
    background-color: #fc8888;

}
.line-2{
    position: absolute;
    top: 29%;
    left: 40%;
    margin-left: -103px;
    width: 257px;
    height: 257px;
    border-radius: 50%;
    border: 11px solid #3b7bb1;
    border-right: none;
    /* border-bottom: none; */
    border-top: none;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateX(115deg) rotateY(120deg) rotateZ(107deg);
    transform-style: preserve-3d;
    transform: rotateX(115deg) rotateY(120deg) rotateZ(107deg);

}
.line-2>.light{
    width: 257px;
    height: 257px;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-animation: trail_ 3s infinite linear;

    animation: trail_ 3s infinite linear;
}
.line-3{
    position: absolute;
    top: 26%;
    left: 40%;
    margin-left: -103px;
    width: 257px;
    height: 257px;
    border-radius: 50%;
    border: 11px solid #3b7bb1;
    border-right: none;
    /* border-bottom: none; */
    border-top: none;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateX(75deg) rotateY(159deg) rotateZ(129deg);
    transform-style: preserve-3d;
    transform: rotateX(75deg) rotateY(159deg) rotateZ(129deg);
    z-index: 9;


}
.line-3>.light{
    width: 257px;
    height: 257px;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -webkit-animation: trail_ 3s infinite linear;
    transform-style: preserve-3d;
    animation: trail_ 3s infinite linear;
}


@-webkit-keyframes particle_ {
    from {
        transform: rotateZ(0deg);
        opacity: 0;
    } to {
          transform: rotateZ(360deg);
          opacity: 1
      }
}


@keyframes particle_ {
    from {
        transform: rotateZ(0deg);
        opacity: 0;
    } to {
          transform: rotateZ(360deg);
          opacity: 1
      }
}

@-webkit-keyframes trail_ {
    0%{
        transform: rotateZ(0deg);
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        transform: rotateZ(360deg);
        opacity: 0;
    }
}

@keyframes trail_ {
    0%{
        transform: rotateZ(0deg);
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        transform: rotateZ(360deg);
        opacity: 0;
    }
}


.page1-planet2{
    position: absolute;
    top: 10%;
    right: 30%;
}
.page1-icon-1{
    position: absolute;
    top: 33%;
    right: 32%;
    z-index: 999;
}
.page1-icon-2{
    position: absolute;
    top: 60%;
    left: 25%;
    z-index: 999;
}
.page1-icon-3{
    position: absolute;
    top: 40%;
    left: 26%;
    z-index: 999;
}
.page1-icon-4{
    position: absolute;
    top: 54%;
    right: 23%;
    z-index: 999;
}
.page1-btn{
    width: 46%;
    left: 27%;
    position: absolute;
    background: #53c4fc;
    border-radius: 14px;
    padding: 5px;
    font-size: 1.75em;
    color: #fff;
    top: 83%;
}
.page1-title{
    position: absolute;
    top: 15%;
}


.sprite-img-bike{
    position: absolute;
    top: 10px;
}

.sprite-img-human {
    position: absolute;
    top: 321px;
    -webkit-animation: rotation 3s linear infinite;
    animation: rotation 3s linear infinite
}

@-webkit-keyframes rotation {
    0% {-webkit-transform:rotate(0deg);}
100% {-webkit-transform:rotate(360deg);}
}


.reverroate{
    -webkit-animation: reverroate 10s linear infinite;
    animation: reverroate 10s linear infinite
}
@-webkit-keyframes reverroate {
    0% {-webkit-transform:rotate(0deg);}
    100% {-webkit-transform:rotate(-360deg);}
}

.sprite-img-form{
    position: absolute;
    top: 88px;
    z-index: 99;
}
.show{
    top: 44px;
    position: absolute;
    -webkit-animation: show 1.5s linear ;
    animation: show 1.5s  linear;
}
@-webkit-keyframes show {
    0% {-webkit-transform:scale(0);
        }
    60%{
        -webkit-transform:scale(.5);
    }
    80% {-webkit-transform:scale(1);
        opacity: 1;}
}
.show2{
    -webkit-animation: show 1.2s linear ;
    animation: show 1.2s  linear;
}
@-webkit-keyframes show {
    0% {-webkit-transform:scale(0);
    }
    60%{
        -webkit-transform:scale(.5);
    }
    80% {-webkit-transform:scale(1);
        opacity: 1;}
}
.sprite-img-forest{
    position: absolute;
    top: 55px;
}
.sprite-img-rengong{
    position: absolute;
    top: 343px;
}
.bj3{
    position: absolute;
    width: 90%;
    top: 5%;
    left: 5%;

}

.follow{
    width: 60%;
    left: 20%;
    position: absolute;
    top: 40%;
    font-size: 1.25em;
    color: #fff;
    font-weight: 600;
}
.coloryello{
    color: #efde80;
}
.cnt{
    font-size:.8em !important;
    font-weight: 100;

}
.followconten{
    width: 90%;
    left: 5%;
    position: absolute;
    top:90%;
    font-size: 1.25em;
    color: #fff;
    font-weight: 600;
}
@-webkit-keyframes thre_ {
    from {
        -webkit-transform: rotateZ(0deg);
    } to {
          -webkit-transform: rotateZ(360deg);
      }
}

@keyframes thre_ {
    from {
        -webkit-transform: rotateZ(0deg);
    } to {
          -webkit-transform: rotateZ(360deg);
      }
}
@-webkit-keyframes rethre_ {
    from {
        -webkit-transform: rotateZ(0deg);
    } to {
          -webkit-transform: rotateZ(-360deg);
      }
}

@keyframes rethre_ {
    from {
        -webkit-transform: rotateZ(0deg);
    } to {
          -webkit-transform: rotateZ(-360deg);
      }
}
.linenone{
    position: absolute;
    border-radius: 50%;
    border: 1.5px solid #22629e;
    top: 25%;
    left: 37%;
    width: 286px;
    height: 286px;
    opacity: .9;

}
.linenone>.earth{
    width: 306px;
    height: 306px;
    position: absolute;
    left: -10px;
    top: -10px;
    -webkit-transform-style: preserve-3d;
    -webkit-animation: thre_ 4s infinite linear;
    transform-style: preserve-3d;
    animation: thre_ 4s infinite linear;
}
.img-ear-6{
    background: url("../img/img/ear-6.png") no-repeat;
    background-position-x: 50%;
    background-size: 7%;

}
.linentwo{
    position: absolute;
    border-radius: 50%;
    border: 2.5px solid #22629e;
    top: 29%;
    left: 43%;
    width: 243px;
    height: 243px;
}
.linentwo>.earth{
    width: 263px;
    height: 263px;
    position: absolute;
    left: -10px;
    top: -10px;
    -webkit-transform-style: preserve-3d;
    -webkit-animation: thre_ 3.5s infinite linear;
    transform-style: preserve-3d;
    animation: thre_ 3.5s infinite linear;
}
.img-ear-5{
    background: url("../img/img/ear-5.png") no-repeat;
    background-position-x: 50%;
    background-size: 5%;

}
.linenthree{
    position: absolute;
    border-radius: 50%;
    border: 3.5px solid #22629e;
    top: 33.3%;
    left: 50%;
    width: 196px;
    height: 196px;
}
.linenthree>.earth{
    width: 216px;
    height: 216px;
    position: absolute;
    left: -10px;
    top: -10px;
    -webkit-transform-style: preserve-3d;
    -webkit-animation: rethre_ 5.5s infinite linear;
    transform-style: preserve-3d;
    animation: rethre_ 5.5s infinite linear;
}
.img-ear-2{
    background: url("../img/img/ear-2.png") no-repeat;
    background-position-x: 50%;
    background-size: 6%;
}
.linenfour{
    position: absolute;
    margin-left: -103px;
    border-radius: 50%;
    /* border: 3.5px solid #22629e; */
    top: 50%;
    left: 5%;
    width: 196px;
    height: 196px;
}
.linenfour>.earth{
    width: 216px;
    height: 216px;
    position: absolute;
    left: -10px;
    top: -10px;
    -webkit-transform-style: preserve-3d;
    -webkit-animation: rethre_ 5.5s infinite linear;
    transform-style: preserve-3d;
    animation: rethre_ 5.5s infinite linear;
}
.img-ear-4{
    background: url("../img/img/ear-4.png") no-repeat;
    background-position-x: 50%;
    background-size: 26%;
}
.sprite-img-ear-7{
    position: absolute;
    top: 30%;
    left: 10%;
}
.sprite-img-ear-1{
    position: absolute;
    top: 45%;
    right: 4%;
}
.sprite-img-ear-3{
    position: absolute;
    top: 15%;
    right: 4%;
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -webkit-animation: swing 3s ease-in-out infinite alternate;
    -moz-animation: swing 3s ease-in-out infinite alternate;
}
@-webkit-keyframes swing {
    from {
        transform: rotate(-15deg) scale(1, 1);
    }
    to {
        transform: rotate(35deg) scale(1.1, 1.1);
    }
}
@-moz-keyframes swing {
    from {
        transform: rotate(-15deg) scale(1, 1);
    }
    to {
        transform: rotate(35deg) scale(1.1, 1.1);
    }
}
.stars:nth-of-type(16){
    position: absolute;
    top:45%;
    left: 24%;
    transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    -webkit-animation: chan_ 1s  linear;
    animation: chan_ 1s   linear;
}
.stars:nth-of-type(17){
    position: absolute;
    top: 38.5%;
    left: 34%;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -webkit-animation: chan_ 2s  linear;
    animation: chan_ 2s   linear;
}
.stars:nth-of-type(18){
    position: absolute;
    top: 38.5%;
    right: 33%;
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -webkit-animation: chan_ 3s  linear;
    animation: chan_ 3s   linear;
}
.stars:nth-of-type(19){
    position: absolute;
    top:45%;
    right: 25%;
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    -webkit-animation: chan_ 4s  linear;
    animation: chan_ 4s   linear;
}
.sprite-img-earth-main{
    position: absolute;
    top: 40%;
    
}
@keyframes chan_ {
    0% {
        opacity: 0;
    }
    99%{
        opacity: 0;
    }100% {
         opacity: 1;
     }
}

@-webkit-keyframes chan_ {
    0% {
        opacity: 0;
    }
    99%{
        opacity: 0;
    }100% {
            opacity: 1;
        }
}
.last{
    font-size: 1.83em;
    color: #fff;
    width: 80%;
    left: 10%;
    position: absolute;
    top: 5%;
    line-height: 0.8em;
    font-weight: 600;
}
.last>span{
    font-size: .5em;
    font-weight: 100;
}
.stars:nth-of-type(20){
    position: absolute;
    top:45%;
    right: 25%;
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    -webkit-animation: chan_ 4s  linear;
    animation: chan_ 4s   linear;
}
.sprite-img-intro{
    position: absolute;
    top: 6%;
}
.rocket{
    position: absolute;
    top: 74%;
    right: -43%;
    transform: rotate(-52deg);
    -webkit-transform: rotate(-52deg);
    width: 245px;
    text-align: left;
    animation: tha_ 8s linear infinite;
    -webkit-animation: tha_ 8s linear infinite;
}
@-webkit-keyframes tha_ {
    from {
        -webkit-transform: rotateZ(0deg);
    } to {
          -webkit-transform: rotateZ(360deg);
      }
}

@keyframes tha_ {
    from {
        -webkit-transform: rotateZ(0deg);
    } to {
          -webkit-transform: rotateZ(360deg);
      }
}
.sprite-img-inside{
    position: absolute;
    top: 89%;
}
.page4-btn{
    width: 46%;
    left: 27%;
    position: absolute;
    background: #4dcd70;
    border-radius: 14px;
    padding: 5px;
    font-size: 1.75em;
    color: #fff;
    top: 81%;
}
.sprite-img-txt{
    position: absolute;
    top: 90%;
}

@media (min-width: 370px) {
    .sprite-img-inside{
        top: 83%

    }
}
@media(min-width: 410px){
    .line-1{
        top: 31%;
        left: 44%;
    }
    .page1-icon-2{
        top:55%;
    }
    .page1-icon-4{
        top:50%;
    }
    .linentwo{
        top:28%;
    }
    .linenthree{
        top:31.3%;
    }
    .sprite-img-earth-main{
        top:37%;
    }
    .stars:nth-of-type(16){
        top:42%;
    }
    .stars:nth-of-type(17){
        top: 35.5%;
    }
    .stars:nth-of-type(18){
        top: 35.5%;
    }
    .stars:nth-of-type(19){
        top:42%;
    }
}