.block-m {
  margin-bottom: 1em;
  border: 1px solid #ccc;
  background: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 1px 0px #ffffff;
  -moz-box-shadow: 0px 1px 0px #ffffff;
  box-shadow: 0px 1px 0px #ffffff;
}
/*Standard Elements*/
body {
  background: #eee;
  background-image: url(../images/furley_bg.png);
  background-position: initial initial;
  background-repeat: initial initial;
  margin: 0px;
  padding: 0px;
}
a:hover {
	text-decoration: none;
	border-radius: 2px;
}
h1 {
  margin-top: 0px;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.25em;
}
hr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
}
/*Navbar*/
.navbar {
  margin: 0px 0px 1em 0px;
  padding: 0px;
}
.navbar .nav > li > a {
  color: #fff;
  text-shadow: none;
}

.navbar .nav > li > a:hover {
  color: #fff;
}
.navbar .navbar-inner {
  background: #3d5477;
}
.navbar .nav li.dropdown.open > .dropdown-toggle {
  background-color: #3d5477;
  color: #fff;
}
footer {
  padding: 10px;
  margin-top: 4em;
  color: #666;
  font-size: .85em;
  line-height: 1.3em;
}
footer hr {
  margin: 2em -2em;
}

/*Navigation*/
.sidebar-nav {
  padding: 0px;
}
.sidebar-nav .nav-header {
  display: block;
  font-weight: bold;
  color: #333;
  text-shadow: 1px 1px 1px #fff;
  background: #dddddd;

  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-bottom: 1px solid #aaa;
  font-size: 1em;
  line-height: 3em;
  text-transform: none;
  padding: 0em .75em;
  margin-bottom: 0px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-bottom: 1px solid #aaa;
}
.nav-header-sub{
    display: block;
  font-weight: bold;
  color: #333;
  text-shadow: 1px 1px 1px #fff;
  background: #dddddd;

  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-bottom: 1px solid #aaa;
  font-size: 1em;
  line-height: 3em;
  text-transform: none;
  padding: 0em .75em;
  margin-bottom: 0px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-bottom: 1px solid #aaa;
}
.sidebar-nav .nav-header .label {
  float: right;
  margin-top: 1em;
  line-height: 1.5em;
}
.sidebar-nav .nav-header:hover {
  background: #cecece;

}
.sidebar-nav .nav-header .label {
  float: right;
  margin-top: 1em;
  line-height: 1.5em;
}
.sidebar-nav .nav-header.collapsed {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.sidebar-nav .nav-header i[class^="icon-"] {
  margin-right: .75em;
}
.sidebar-nav .nav-list {
  margin-bottom: 1em;
  border: 1px solid #ccc;
  background: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 1px 0px #ffffff;
  -moz-box-shadow: 0px 1px 0px #ffffff;
  box-shadow: 0px 1px 0px #ffffff;
  margin: 1em;
  margin: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-top: 0px;
}
.sidebar-nav .nav-list-main {
  margin-bottom: 1em;
  border: 1px solid #ccc;
  background: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 1px 0px #ffffff;
  -moz-box-shadow: 0px 1px 0px #ffffff;
  box-shadow: 0px 1px 0px #ffffff;
  margin: 1em;
  margin: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-top: 0px;
}
.sidebar-nav .nav-list h1,
.sidebar-nav .nav-list h2,
.sidebar-nav .nav-list h3,
.sidebar-nav .nav-list h4,
.sidebar-nav .nav-list h5,
.sidebar-nav .nav-list h6,
.sidebar-nav .nav-list table {
  margin-top: 12px;
}
.sidebar-nav .nav-list.collapse {
  margin-top: 0em;
  margin-bottom: 0em;
}
.sidebar-nav .nav-list li:last-child a {
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.sidebar-nav .nav-list.collapse {
  margin-bottom: 1em;
}
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
.sidebar-nav .nav-list  > li > a:hover {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
.sidebar-nav .nav-list  > .active > a,
.sidebar-nav .nav-list  > .active > a:hover {
  background: #3d5477;

  border-bottom: 1px solid #194c80;
  border-top: 1px solid #194c80;
}
.sidebar-nav .nav-list  > li > a {
  padding: .5em 1em;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.sidebar-nav .nav-list.collapse {
  border-bottom: 0px;
}
.sidebar-nav .nav-list.collapse.in {
  border-bottom: 1px solid #ccc;
}
.sidebar-nav .nav-list .nav-header:first-child {
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/*Buttons*/

.btn-danger {
  background-color: #3d5477;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3d5477), to(#3d5477));
  background-image: -webkit-linear-gradient(top, #3d5477, #3d5477);
  background-image: -o-linear-gradient(top, #3d5477, #3d5477);
  background-image: linear-gradient(to bottom, #3d5477, #3d5477);
  background-image: -moz-linear-gradient(top, #3d5477, #3d5477);
}
.btn-danger:hover {
  background-color: #3d5477;

}
.navbar .dropdown-menu a:hover {
  background: none;
  color: #000;
}
.well {
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: 1px 1px 0px #ffffff;
  -moz-box-shadow: 1px 1px 0px #ffffff;
  box-shadow: 1px 1px 0px #ffffff;
}

/* Tweaks for mobile */
@media (max-width: 480px) {
  h1 {
    text-align: center;
  }
  .stats {
    text-align: center;
  }
  .stats .stat {
    float: none;
    display: inline;
  }
}



/* 留言帖子 */
.u-md-6{width:90%}
.comment-bd{
	padding:15px;
	overflow:hidden
}
.comment-bd>:last-child{
	margin-bottom:0
}
.comment-footer{
	padding:0 15px 5px
}
.comment-meta{
	-webkit-box-flex:1;
	-webkit-flex:1;
	-ms-flex:1;
	flex:1;
	padding:10px 15px;
	font-size:13px;
	color:#999;
	line-height:1.2;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden
}
.comment-meta a{
	text-decoration:none;
	color:#999
}
.comment-author{
	font-weight:700;
	font-size:14px;
	color:#999
}
.comment-main{
	position:relative;
	margin-left:42px;
	border:1px solid #dedede;
	border-radius:0; 
	margin-bottom:20px;
}
.comment-hd{
	background:#f8f8f8;
	border-bottom:1px solid #eee;
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex
}
.comment-avatar{
	float:left;
	width:32px;
	height:32px;
	border-radius:50%;
	border:1px solid transparent
	}
@media only screen and (min-width:641px){
	.comment-avatar{width:48px;height:48px}
}
.comment-main:before{
	border-right-color:#dedede;
	z-index:1
}
.comments-list{
	padding:0;
	list-style:none
}
.comment-main:after{
	border-right-color:#f8f8f8;
	margin-left:1px;
	z-index:2
}
@media only screen and (min-width:641px){
	.comment-main{margin-left:63px}
}
.comment-reply{
  margin-left: 40px;
}

/*框框 */
.panel{
	margin-bottom:20px;
	background-color:#fff;
	border:1px solid transparent;
	border-radius:0;
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);
	box-shadow:0 1px 1px rgba(0,0,0,.05)
}
.panel-hd{
	padding:.6rem 1.25rem;
	border-bottom:1px solid transparent;
	border-top-right-radius:0;
	border-top-left-radius:0
}
.panel-bd{
	padding:10px;
}
.panel-default{
	border-color:#ddd
}
.panel-hd{
	color:#444;
	background-color:#f5f5f5;
	border-color:#ddd
}


/*帖子内容*/
.admin-task{
	list-style-type:none;
}
.admin-task-meta {
	margin-bottom:10px;
}
.btn-toolbar{
	float:left;
}
.fr{
	float:right;
}
.btn-edit{
	margin-top:10px;
}
/* 留言帖子结束 */


/* 论坛编辑和删除按钮 */
.btn{
	color:#3cb3f6;
	font:15px Calibri, Arial, sans-serif;

	/* A semi-transparent text shadow */
	text-shadow:1px 1px 0 rgba(255,255,255,0.4);
	
	/* Overriding the default underline styling of the links */
	text-decoration:none !important;
	white-space:nowrap;
	
	display:inline-block;
	vertical-align:baseline;
	position:relative;
	cursor:pointer;
	padding:2px 2px;
	
	background-repeat:no-repeat;

	/* The following two rules are fallbacks, in case
	   the browser does not support multiple backgrounds. */

	background-position:bottom left;
	background-image: url(../images/button_bg.png);
	
	/* Multiple backgrounds version. The background images
	   are defined individually in color classes */
	
	background-position:bottom left, top right, 0 0, 0 0;
	background-clip:border-box;
	
	/* Applying a default border raidus of 8px */
	
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	
	/* A 1px highlight inside of the button */
	
	-moz-box-shadow:0 0 1px #fff inset;
	-webkit-box-shadow:0 0 1px #fff inset;
	box-shadow:0 0 1px #fff inset;
	
	/* Animating the background positions with CSS3 */
	/* Currently works only in Safari/Chrome */
	
	-webkit-transition:background-position 1s;
	-moz-transition:background-position 1s;
	transition:background-position 1s;
}

.btn:hover{
	/* The first rule is a fallback, in case the browser
	   does not support multiple backgrounds
	*/
	color:#3d5477;
	background-position: top left;
	background-position: top left, bottom right, 0 0, 0 0;
	border-radius: 9px;
}

.btn:active{
	/* Moving the button 1px to the bottom when clicked */
	bottom:-1px;
}
.bnn{
	color: #D20003;
}
.btnn1{
	color:white;
}
.btnn2{
	color:black;
}



/*Blocks*/
.block {
  margin-bottom: 1em;
  border: 1px solid #ccc;
  background: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 1px 0px #ffffff;
  -moz-box-shadow: 0px 1px 0px #ffffff;
  box-shadow: 0px 1px 0px #ffffff;
}
.block-heading[data-toggle="collapse"] {
  cursor: pointer;
}
.block-heading[data-toggle="collapse"]:hover {
  background: #d0d0d0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d0d0d0), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #d0d0d0, #ffffff);
  background: -moz-linear-gradient(center bottom, #d0d0d0 0%, #ffffff 100%);
  background: -o-linear-gradient(bottom, #d0d0d0, #ffffff);
  filter: none;
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#444444', EndColorStr='#555555');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#d0d0d0')";
}
.block-heading {
  display: block;
  font-weight: bold;
  color: #333;
  text-shadow: 1px 1px 1px #fff;
  background: #dddddd;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dddddd), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #dddddd, #ffffff);
  background: -moz-linear-gradient(center bottom, #dddddd 0%, #ffffff 100%);
  background: -o-linear-gradient(bottom, #dddddd, #ffffff);
  filter: none;
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#444444', EndColorStr='#555555');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#dddddd')";
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-bottom: 1px solid #aaa;
  font-size: 1em;
  line-height: 3em;
  text-transform: none;
  padding: 0em .75em;
  margin-bottom: 0px;
}
.block-heading .label {
  float: right;
  margin-top: 1em;
  line-height: 1.5em;
}
.block-body {
  margin: 1em;
  min-height: .25em;
}
.block-body h1,
.block-body h2,
.block-body h3,
.block-body h4,
.block-body h5,
.block-body h6,
.block-body table {
  margin-top: 12px;
}
.block-body.collapse {
  margin-top: 0em;
  margin-bottom: 0em;
}

/* page */
#page{
	border:1px solid #2C93EA;
}
.btn-pre{
	padding:0 10px;;
	background:#FC9; 
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
}

.btn-next{
	padding:0 10px;;
	background:#FC9; 
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
}
.page-num {
    display: block;
    width: 20%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
.page-code{
	float:left;
}
.page-jump{
	float:right;
	margin-bottom:5px;
}


/* btn new */
.ctn {
	display: inline-block;
	padding: 5px 10px;
	color: #777 !important;
	text-decoration: none;
	font-weight: bold;
	font-size: 11px;
	font-family: Tahoma, Arial, sans-serif;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(255,255,255,0.9);
	position: relative;
	cursor: pointer;
	border:1px solid #ccc !important;
	background:#fff url("../images/btn-overlay.png") repeat-x !important;
}
.ctn:hover, .btn:focus, .btn:active {
	outline:medium none;
	border:1px solid #329ECC !important;
	opacity:0.9;
	-khtml-opacity: .9;
	-moz-opacity: 0.9;
	-moz-box-shadow:0 0 5px rgba(82, 168, 236, 0.5);
	-webkit-box-shadow: 0 0 5px rgba(82, 168, 236, 0.5);
	box-shadow: 0 0 5px rgba(82, 168, 236, 0.5);
}



.poster-content{
  width: 220%;
}




/* Grids
---------------------------------------------------------------------*/
.column {
	margin-left:18px;
	display:block;
	float:left;
}
.colgroup {
	display:block;
	float:left;
}
.first {
	margin-left:0;
	clear:left;
}
.full {
	width:100%;
}
.width1 {
	width:108px;
}
.width2 {
	width:234px;
}
.width3 {
	width:360px;
}
.width4 {
	width:486px;
}
.width5 {
	width:612px;
}
.width6 {
	width:738px;
}
.width7 {
	width:864px;
}
.width8 {
	width: 990px;
}