


/*//////////////////////////////////////////////////////////////////////////////////////*/

/*-------------------------------CSS3 Buttons-------------------------------------------*/

/*//////////////////////////////////////////////////////////////////////////////////////*/



.button, .button-minimal{
	margin-top:10px;
	margin-bottom:10px;

}

.demo-button{
	margin-right:3px;
	margin-left:3px;
}



/*//////////////////////////////////////////////////////////////////////////////////////*/

/*-----------------------------CSS3 Buttons---------------------------------------------*/

/*//////////////////////////////////////////////////////////////////////////////////////*/


.button {
	font-size: 1em;
	font-weight: lighter;
	text-decoration: none!important;
	padding: 10px 10px;
	border-radius: 5px;
	box-shadow: inset 0px 0px 2px #fff;
	-o-box-shadow: inset 0px 0px 2px #fff;
	-webkit-box-shadow: inset 0px 0px 2px #fff;
	-moz-box-shadow: inset 0px 0px 2px #fff;
	display:inline-block;

}

.button:active {
	display:inline-block;
	box-shadow: inset 0px 0px 3px #999;
	-o-box-shadow: inset 0px 0px 3px #999;
	-webkit-box-shadow: inset 0px 0px 3px #999;
	-moz-box-shadow: inset 0px 0px 3px #999;

}



.button:visited {
	display:inline-block;

	box-shadow: inset 0px 0px 3px #999;
	-o-box-shadow: inset 0px 0px 3px #999;
	-webkit-box-shadow: inset 0px 0px 3px #999;
	-moz-box-shadow: inset 0px 0px 3px #999;
}


/* The styles for the grey button */

.gray {
	color: #3d5477;
	text-shadow: 1px 1px 1px #fff;
	background-color: #fff;
	width: 100px;
	padding:7px 5px ;
	margin-right: 0.8em;
}

.gray:active {
	background-image: -moz-linear-gradient(#e1e1e1, #ededed);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ededed), to(#e1e1e1));
	background-image: -webkit-linear-gradient(#e1e1e1, #ededed);
	background-image: -o-linear-gradient(#e1e1e1, #ededed);
	background-color: #ededed;
}





/*//////////////////////////////////////////////////////////////////////////////////////*/

/*-----------------------------footer--------------------------------------------*/

/*//////////////////////////////////////////////////////////////////////////////////////*/



.footer{
	text-align:center;
	height:60px;
	position:fixed;
	bottom:-1px;
	left:0px;	width:100%;
	background-color:#3d5477;
	color:;


}


.footer-logo{
	width: 9%;
	margin:10px;

}

.footer-text{
	width: 26%;
	margin:10px;
}










