<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml">
<HEAD>
    <META http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="tataufo 论坛">
    <meta name="author" content="SONG&TANG">

    <!--  icons -->
    <link rel="shortcut icon" href="images/logo.png">


    <title>审核登录窗口</title>



    <!-- css & Ja -->
    <link rel="stylesheet" href="css/body.css" type="text/css" />
    <SCRIPT src="js/jquery-1.9.1.min.js" type="text/javascript"></SCRIPT>

    <SCRIPT type="text/javascript">
        $(function(){
            //得到焦点
            $("#password").focus(function(){
                $("#left_hand").animate({
                    left: "155",
                    top: " -32"
                },{step: function(){
                    if(parseInt($("#left_hand").css("left"))>130){
                        $("#left_hand").attr("class","left_hand");
                    }
                }}, 2000);
                $("#right_hand").animate({
                    right: "-104",
                    top: "-32px"
                },{step: function(){
                    if(parseInt($("#right_hand").css("right"))> -110){
                        $("#right_hand").attr("class","right_hand");
                    }
                }}, 2000);
            });
            //失去焦点
            $("#password").blur(function(){
                $("#left_hand").attr("class","initial_left_hand");
                $("#left_hand").attr("style","left:140px;top:-12px;");
                $("#right_hand").attr("class","initial_right_hand");
                $("#right_hand").attr("style","right:-123px;top:-12px");
            });
        });
    </SCRIPT>
</HEAD>


<BODY>
<DIV class="top_div"></DIV>
<DIV class="content">
    <DIV class="tata">
        <DIV class="tou"></DIV>
        <DIV class="initial_left_hand" id="left_hand"></DIV>
        <DIV class="initial_right_hand" id="right_hand">    </DIV></DIV>


    <div class="container">
        <section id="content">
            <form id="loginform" action="users.html">
                <div>
                    <!-- 删除placeholder
                    <label class="required" for="username">Username:</label><br/>
                    -->
                    <input type="text" id="username" class="full" value="" placeholder="Username" name="username"/>
                </div>
                <div>
                    <!-- 删除placeholder
                        <label class="required" for="password">Password:</label><br/>
                        -->
                    <input type="password" id="password" class="full" value="" placeholder="Password" name="password"/>
                </div>
                <div class="">
                    <span class="help-block u-errormessage" id="js-server-helpinfo">&nbsp;</span>			</div>
                <input type="submit" value="登&nbsp;&nbsp;&nbsp;录" class="btn btn-primary" id="js-btn-login"/>
                <div>
                    <!-- <input type="submit" value="Log in" /> --><!-- <a href="#">Register</a> -->
                </div>
            </form><!-- form -->
            <div class="button">
                <p>© Copyright 2015. “<a href="www.tataufo.com">TaTaUFO</a>”. All rights reserved.</p>
            </div> <!-- button -->
        </section><!-- content -->
    </div>






</DIV>
</DIV>
</BODY></HTML>
