html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
img {
	width: 100%;
	display: block;
}
.p10-container {
	position: relative;
	width: 100%;
}
.p10-container>div {
	position: absolute;
	width: 100%;
	top: 0;
}
.p10-container .p10-icon-01 {
	width: 255px;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 10px;
}
.p10-container .p10-btn {
	top: 48.5%;
	left: 26%;
	padding-top: 16%;
	width: 48%;
	/*background: yellow;*/
	border-radius: 20px;
	display: block;
	position: absolute;
}
.p10-container .p10-num {
	width: 255px;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 10px;
	height: 61px;
	line-height: 59px;
	color: #FEA153;
	letter-spacing: 5px;
	font-size: 30px;
	font-weight: bold;
	text-indent: 132px;
}
.p10-bg-02 {
	-webkit-transform: scale(1.1);
	-webkit-animation: run-bg 5s linear infinite alternate;
}
.p10-bg img {
	-webkit-transform-origin: 50% 30.53097%;
	-webkit-animation: rotate-bg 5s linear infinite;
}
.p10-text-02, .p10-bg {
	opacity: 0;
	-webkit-transform-origin: 50% 30.53097%;
	-webkit-animation: scale 1s linear forwards;
}
.p10-text-01 {
	opacity: 0;
	-webkit-transform-origin: 50% 30.53097%;
	-webkit-animation: scale 1s linear  forwards;
}
.p10-icon-02, .p10-icon-01, .p10-num {
	opacity: 0;
	-webkit-animation: show02 1s ease-out .3s forwards;
}
@-webkit-keyframes show02 {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
	}
	70% {
		opacity: .4;
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
	}
}
@-webkit-keyframes scale02 {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
	}
	80% {
		opacity: 1;
		-webkit-transform: scale(1.1);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
	}
}
@-webkit-keyframes scale {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
	}
}
@-webkit-keyframes rotate-bg {
	0% {
		opacity: 1;
		-webkit-transform: rotate(0deg);
	}
	100% {
		opacity: 1;
		-webkit-transform: rotate(360deg);
	}
}
@-webkit-keyframes run-bg {
	0% {
		opacity: 1;
		-webkit-transform: translate(0, 0) scale(1.1);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate(-5%, -1%) scale(1.1);
	}
}