@media screen and (min-width:300px) and (max-width:350px) {
	.p9-container .p9-form-box, .p9-container .p9-icon-02 {
		top: 1%;
	}
}
@media screen and (min-width:351px) and (max-width:369px) {
	.p9-container .p9-form-box, .p9-container .p9-icon-02 {
		top: 3%;
	}
}
@media screen and (min-width:370px) and (max-width:400px) {
	.p9-container .p9-form-box, .p9-container .p9-icon-02 {
		top: 4%;
	}
}
@media screen and (min-width:401px) and (max-width:415px) {
	.p9-container .p9-form-box, .p9-container .p9-icon-02 {
		top: 6%;
	}
}
@media screen and (min-width:1000px) {
	.p9-container .p9-form-box, .p9-container .p9-icon-02 {
		top: 8%;
	}
}
html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
img {
	width: 100%;
	display: block;
}
.p9-container {
	position: relative;
	width: 100%;
}
.p9-container>div {
	position: absolute;
	width: 100%;
	top: 0;
}
.p9-container .p9-icon-02 {
	width: 320px;
	left: 0;
	right: 0;
	margin: 0 auto;		/*top:1%;*/
	height: 286px;
}
.p9-container .p9-form-box {
	width: 280px;
	height: 286px;
	left: 0;
	right: 0;
	margin: 0 auto;		/*top:1%;*/
}
.p9-container .p9-btn {
	top: 51.5%;
	left: 26%;
	padding-top: 16%;
	width: 48%;
	border-radius: 20px;
	display: block;
	position: absolute;
}
.p9-form-box ul {
	margin: 52px 10px 10px 10px;
}
.p9-form-box ul li {
	line-height: 30px;
	height: 30px;
	margin: 7px 0;
}
.p9-form-box ul input {
	border-radius: 5px;
	outline: none;
	border: none;
	height: 30px;
	font-size: 18px;
	font-weight: bold;
	width: 180px;
	color: #8F8F8F;
	text-indent: 8px;
}
.p9-form-box label, .p9-form-box .p9-list-style-02 {
	font-size: 18px;
	font-weight: bold;
	width: 280px;
	border-radius: 5px;
}
.p9-form-box label {
	color: #fff;
}
.p9-form-box .p9-list-style-02 {
	color: #5FAAFA;

}
.p9-list-style-02 img {
	width: 24px;
	display: inline-block;
	margin: 0px 0px -5px 0;
}
.p9-list-style-02 span{
	width: 300px;
	line-height: 1.2em;
}
.p9-list-style-02 span:nth-child(4) {
	float: right;
	margin-right: 5px;
}
.p9-list-style-02 span:nth-child(5) {
	clear: both;
}
.highlight h1{
	font-size: 1.4em;
	line-height: 1.5em;
}
.p9-container .p9-icon-num-bg {
	width: 255px;
	top: 43%;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.p9-container .p9-num {
	width: 255px;
	top: 43%;
	height: 61px;
	line-height: 57px;
	color: #FEA153;
	letter-spacing: 5px;
	font-size: 30px;
	font-weight: bold;
	text-indent: 139px;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.p9-bg {
	-webkit-transform: scale(1.1);
/*	-webkit-animation: run-bg 5s linear infinite alternate;*/
}
.p9-num, .p9-icon-num-bg {
	opacity: 0;
	-webkit-animation: show02 1s ease .2s forwards;
}
.p9-icon-01 {
	opacity: 0;
	-webkit-animation: show02 1s ease .3s forwards;
}
.p9-icon-02, .p9-form-box {
	-webkit-animation: show02 1s ease-out forwards;
}

/*@-webkit-keyframes show02{
		0% {
				opacity: 1;
		}
		100% {
				opacity: .7;
		}
}*/
@-webkit-keyframes show02 {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
	}
	70% {
		opacity: .4;
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
	}
}
@-webkit-keyframes show {
	0% {
		opacity: 0;
		-webkit-transform: translate(0, -10%) scale(0);
	}
	70% {
		opacity: 1;
		-webkit-transform: translate(0, 0) scale(1.1);
	}
	85% {
		opacity: 1;
		-webkit-transform: translate(0, 0) scale(.95);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate(0, 0) scale(1);
	}
}
@-webkit-keyframes run-bg {
	0% {
		opacity: 1;
		-webkit-transform: translate(0, 0) scale(1.1);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate(-5%, -1%) scale(1.1);
	}
}