<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=contain">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no" />
    <meta name="keywords" content="live">
	<meta name="wap-font-scale" content="no">
	<script>
        //rem处理方案
        var dpr = window.devicePixelRatio || 1; //分辨率比例值
        dpr = dpr >= 3 ? 3 : (dpr >= 2 ? 2 : 1);
        var scales = 1 / dpr; //得到当前屏幕或设备的是否retina
        // var width = window.screen.width / dpr; //得到宽度
        var width = screen.availWidth; //得到宽度
        // console.log(width);
        // var scale = width / 375; //得到基于iphone6的缩放比例
        // console.log(width, window.screen.width, document.documentElement.clientWidth, screen.width, screen.availWidth, window.innerWidth);

        //设置html的字体大小
        var ht = document.getElementsByTagName("html");
        ht[0].style.fontSize = width / 10 * dpr + 'px'

        // 设置meta的缩放比
        var meta = document.createElement('meta');
        meta.name = "viewport";
        meta.content = 'initial-scale=1' + ',maximum-scale=' + scales + ', minimum-scale=' + scales +
            ',user-scalable=no' + ',viewport-fit=contain';
        document.getElementsByTagName('head')[0].appendChild(meta);
    </script>
</head>
