

/* =Common Styles
-------------------------------------------------------------- */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

body { 
	background: #fff;
	color: #424242;
	font: normal 16px "Lato", arial, sans-serif;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

section { overflow: hidden; }
::selection { background: #303336; color: #fff; }
::-moz-selection { background: #303336; color: #fff; }


/* =Typography
-------------------------------------------------------------- */

p {
	font-size: 0.9em;
	color: #424242;
	line-height: 1.9em;
	margin: 0 0 0.7em;
}

.highlighted { color: #2db4d8; }

em { font-style: italic; }
strong { font-weight: 400; }
small { font-size: 0.8em; }

h1,h2,h3,h4,h5,h6 {
	font-family: "Montserrat";
	font-weight: 400;
	color: #303336;
	font-style: normal;
	line-height: 1.17em;
	margin: 0 0 15px;
}

a, a:visited {
	color: #2db4d8;
	font-weight: 400;
	text-decoration: none;
}

a:hover { text-decoration: underline; }

h1 {
	font-size: 28px;
	letter-spacing: -0.05em;
}

h2 {
	font-size: 20px;
	letter-spacing: -0.05em;
}

h3 {
	font-size: 16px;
	letter-spacing: -0.05em;
}

h4 {
	font-size: 13px;
	letter-spacing: -0.05em;
	text-transform: uppercase;	
}

h5 {
	font-family: "Lato";
	font-weight: 400;
	font-size: 11px;
	text-transform: uppercase;
}

h6 {
	font-family: "Lato";
	font-weight: 300;
	font-size: 11px;
	text-transform: uppercase;
}

@media (min-width: 768px) {
	p { font-size: 1em; }
	p.small { font-size: 14px; }
	h1 {font-size: 38px;}
	h2 {font-size: 25px;}
	h3 {font-size: 17px;}
	h4 {font-size: 14px;}
	h5 {font-size: 12px;}
	h6 {font-size: 12px;}
}

@media (min-width: 1200px) {
	p { font-size: 1em; }
	h1 {font-size: 48px;}
	h2 {font-size: 28px;}
	h3 {font-size: 18px;}
	h4 {font-size: 15px;}
	h5 {font-size: 13px;}
	h6 {font-size: 13px;}
}
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}


/* Mobile Navigation */

header.mobile {
	z-index: 99;
	padding-top: 20px;
	width: 100%;
	top: auto!important;
}

header.mobile .logo {
	margin-left: 20px;
	position: center;
}

.looog{
	text-align: center;

}
header.mobile .logo {
	margin-left: 20px;

}
.headerr{
	padding-bottom: 10px;
}


/* -- Feature Box -- */
.feature-box .feature { padding-bottom: 25px; }
.feature-box .feature h3, .feature-box .feature i.icon, .feature-box .feature p, .feature-box .feature .social-list { display: inline-block; }
.feature h3 { line-height: 26px; vertical-align: middle; }
.feature i.icon { margin-right: 10px; }
.feature-box .feature p { width: 100%; }

.feature-box .feature .social-list li {
	float: left;
	margin-right: 10px;
}

.feature-box .feature .social-list li:last-of-type { margin-right: 0px; }

.feature-box .feature .social-list a {
	color: #7a7a7a;
	-webkit-transition: opacity 0.25s linear;
	   -moz-transition: opacity 0.25s linear;
		 -o-transition: opacity 0.25s linear;
			transition: opacity 0.25s linear;
}

.feature-box .feature .social-list a:hover {
	opacity: .5;
	filter: alpha(opacity=50);
	-webkit-transition: opacity 0.25s linear;
	   -moz-transition: opacity 0.25s linear;
		 -o-transition: opacity 0.25s linear;
			transition: opacity 0.25s linear;
}

/* =Content Styles
-------------------------------------------------------------- */
	
.content { padding-top: 35px; padding-bottom: 25px; }
.accent { background: #2db4d8; }
.light { background: #f2f2f1; }
.dark { background: #303336; }

.title { padding-bottom: 30px; }

.parallax {
	width: 100%;
	background-size: cover; 
	background-attachment: scroll; 
	background-position: top center;

}
.padded { padding-bottom: 10px; }
.center { text-align: center; }
.center-mobile { text-align: center; }


/* =post
-------------------------------------------------------------- */

.post { 
	position: relative;
	text-align: left;
	margin-bottom: 25px;
	padding: 0px 0px 15px 50px;
	border-bottom: 1px solid #e9e9e9;
}



/* =date
-------------------------------------------------------------- */
.post .date {
	position: absolute;
	text-align: center;
	width: 40px;
	padding-bottom: 10px;
	top: 0;
	left: 0;
	text-transform: uppercase;
	font-size: 1em;
	letter-spacing: 0.2em;
	line-height: 0.8em;
	border-bottom: 1px solid #e9e9e9;
}

.post .date small { font-size: 0.5833333333333333em; }

/* =post title
-------------------------------------------------------------- */
.post-title a { 
	color: #303336; 
}
.post-title a:hover { 
	color: #2db4d8; 
	text-decoration: none; 
}

/* =代码及引用
-------------------------------------------------------------- */
blockquote {
	width: 100%;
	background: #f9f9f9;
	padding: 15px 0px 15px 30px;
	border-left: 2px solid #e9e9e9;
	font-style: italic;
	margin-bottom: 20px;
	margin-left: 0;
}

code {
	display: block;
	clear: both;
	overflow: auto;
	padding: 10px 20px 20px 20px;
	white-space: pre;
	background-color: #f9f9f9;
	border: 1px solid #e9e9e9;
	font: 12px "Andale Mono",Courier,"Courier New",monospace;
	margin-bottom: 20px;
}


/* =侧边栏 标签
-------------------------------------------------------------- */
.widget {
	text-align: left;
	margin-bottom: 25px;
}


/* =小标签文字
-------------------------------------------------------------- */
.tagcloud a {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	font-size: 0.7em;
	border: 1px solid rgb(45, 180, 216);
	border: 1px solid rgba(45, 180, 216, .5);
	text-transform: uppercase;
	padding: 5px 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.widget-archive a, .widget-recent-entries a {
	color: #aaaaaa; 
	font-weight: 400;
	font-size: 0.8666666666667em;
	display: block;
	padding-bottom: 8px;
	margin-bottom: 15px;
	border-bottom: 1px solid #e9e9e9;
}

.widget-archive a:hover, .widget-recent-entries a:hover, .cat-item a:hover, .recentcomments a:hover {
	text-decoration: none;
	color: #2db4d8;
}


/* =blog里的图片
-------------------------------------------------------------- */
.post-media { position: relative; margin-bottom: 20px; }

.post-media img {
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
			border-radius: 4px;
}


/* =题目下面的作者
-------------------------------------------------------------- */
.post-meta h6, .post-meta a { color: #aaaaaa; }


.post.quote .post-title h2, .post.link .post-title h2 {
	font-size: 1em!important;
	text-transform: uppercase;
	letter-spacing: 0.10em;
	padding: 0;
}


/* =搜索标签
-------------------------------------------------------------- */
.search {
	border: none;
	float: left;
	outline: none;
	padding: 0px 0px 0px 10px;
	width: 80%;
	height: 40px;
	background: #fff;
	color: #aaaaaa;
	font-weight: 300;
	font-size: 13px;
	border-bottom: 2px solid #e9e9e9;
	border-left: 1px solid #e9e9e9;
	border-top: 1px solid #e9e9e9;
	-webkit-appearance: none;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.search-submit {
	margin: 0;
	padding: 0;
	border: none;
	float: left;
	outline: none;
	cursor: pointer;
	width: 20%;
	height: 40px;
	text-indent: -999em;
	background: #fff url(../img/search.png) no-repeat center center;
	background-size: 16px 16px;
	text-decoration: none;
	-webkit-appearance: none;
	border: 1px solid #e9e9e9;
	border-bottom: 2px solid #e9e9e9;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

/* =分类
-------------------------------------------------------------- */
.cat-item, .recentcomments {
	font-size: 0.8666666666667em;
	padding-bottom: 8px;
	margin-bottom: 15px;
	border-bottom: 1px solid #e9e9e9;
}


.cat-item a, .recentcomments a { color: #aaaaaa; font-weight: 400; }

.post-body ul, .unordered-list { margin-bottom: 20px; }
.post-body ul li, .unordered-list li { margin-bottom: 5px; }
.post-body ul li:before, .unordered-list li:before {
	content: "∙";
	margin-right: 5px;
}

/* =Footer
-------------------------------------------------------------- */

footer {
	color: #f2f2f1;
	background: #2765a5;
	padding-top: 20px;
	padding-bottom: 20px
}
.social-list{
	padding-top: 10px;
}

footer .social-list a {
	margin-left: 10px;
	color: #f2f2f1;
	font-weight: 300;
	opacity: .7;
	filter: alpha(opacity=70);
	-webkit-transition: opacity 0.15s linear;
	   -moz-transition: opacity 0.15s linear;
		 -o-transition: opacity 0.15s linear;
			transition: opacity 0.15s linear;
}

footer .social-list a:hover {
	text-decoration: none;
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transition: opacity 0.15s linear;
	   -moz-transition: opacity 0.15s linear;
		 -o-transition: opacity 0.15s linear;
			transition: opacity 0.15s linear;
}

/* =头像
-------------------------------------------------------------- */
#sculpture img{
	border-radius:50%
}


/* -- Overview Block -- */
.center-mobile { text-align: center; }
.overview-block .button { margin-top: 15px; }


/* =Buttons
-------------------------------------------------------------- */

a.button {
	display: inline-block;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 11px;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
			border-radius: 4px;
	-webkit-transition: background 0.25s linear;
	   -moz-transition: background 0.25s linear;
		 -o-transition: background 0.25s linear;
			transition: background 0.25s linear;
}

a.button:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	color: #fff;
}

a.button.accent {
	border: 1px solid rgb(45, 180, 216);
	border: 1px solid rgba(45, 180, 216, .5);
	background: transparent;
	color: #2db4d8;
	-webkit-transition: background 0.25s linear;
	   -moz-transition: background 0.25s linear;
		 -o-transition: background 0.25s linear;
			transition: background 0.25s linear;
}

a.button.accent:hover {
	border: 1px solid #2db4d8;
	background: #2db4d8;
	color: #fff;
	-webkit-transition: background 0.25s linear;
	   -moz-transition: background 0.25s linear;
		 -o-transition: background 0.25s linear;
			transition: background 0.25s linear;
}


a.button.accent-alt {
	border: 1px solid rgb(45, 216, 125);
	border: 1px solid rgba(45, 216, 125, .5);
	background: transparent;
	color: #2dd87d;
	-webkit-transition: background 0.25s linear;
	   -moz-transition: background 0.25s linear;
		 -o-transition: background 0.25s linear;
			transition: background 0.25s linear;
}

a.button.accent-alt:hover {
	border: 1px solid #2dd87d;
	background: #2dd87d;
	color: #fff;
	-webkit-transition: background 0.25s linear;
	   -moz-transition: background 0.25s linear;
		 -o-transition: background 0.25s linear;
			transition: background 0.25s linear;
}

a.button.gray {
	border: 1px solid rgb(80, 86, 86);
	border: 1px solid rgba(80, 86, 86, .5);
	background: transparent;
	color: #505656;
	-webkit-transition: background 0.25s linear;
	   -moz-transition: background 0.25s linear;
		 -o-transition: background 0.25s linear;
			transition: background 0.25s linear;
}

a.button.gray:hover {
	border: 1px solid #505656;
	background: #505656;
	color: #f2f2f1;
	-webkit-transition: background 0.25s linear;
	   -moz-transition: background 0.25s linear;
		 -o-transition: background 0.25s linear;
			transition: background 0.25s linear;
}

/* =123前进后退按钮
-------------------------------------------------------------- */
.project-gallery { position: relative; }
.project-gallery, .project-gallery img { width: 100%; }

.project-gallery .project-prev .bx-prev, .project-gallery .project-next .bx-next {
	display: block;
	position: absolute;
	z-index: 60;
	width: 9px;
	height: 17px;
	text-indent: -999em;
	top: 50%;
	margin-top: -9px;
}

.project-gallery .project-prev .bx-prev {
	background: url(../img/icons/black-controls-prev.png) no-repeat;
	background-size: 9px 17px;
	left: 10%;
}

.project-gallery .project-next .bx-next {
	background: url(../img/icons/black-controls-next.png) no-repeat;
	background-size: 9px 17px;
	right: 10%;
}

.project-gallery .project-prev .bx-prev.background--dark { background: url(../img/icons/white-controls-prev.png) no-repeat; background-size: 9px 17px; }
.project-gallery .project-next .bx-next.background--dark { background: url(../img/icons/white-controls-next.png) no-repeat; background-size: 9px 17px; }

.project-gallery .project-controls {
	position: absolute;
	z-index: 60;
	bottom: 5%;
	text-align: center;
	width: 100%;
}

.project-gallery .project-controls .bx-pager { display: block; }

.project-gallery .project-controls .bx-pager-item {
	display: inline-block;
	margin-right: 10px;
}

.project-gallery .project-controls .bx-pager-item:last-of-type { margin-right: 0px; }

.project-gallery .project-controls .bx-pager-link {
	display: block;
	width: 10px;
	height: 10px;
	text-indent: -999em;
	background: url(../img/icons/slider-pager.png) no-repeat;
	background-size: 10px;
}

.project-gallery .project-controls .bx-pager-link.background--dark { background: url(../img/icons/slider-pager-white.png) no-repeat; background-size: 10px; }

.project-gallery .project-controls .bx-pager-link.active { background: url(../img/icons/slider-pager-active.png) no-repeat; background-size: 10px; }
.project-gallery .project-controls .bx-pager-link.active.background--dark { background: url(../img/icons/slider-pager-active-white.png) no-repeat; background-size: 10px; }





/* =button 间的or
-------------------------------------------------------------- */
.choice {
	position: relative;
	display: inline-block;
	margin: 0 20px;
	font-style: italic;
}
