body, div, ul, ol, dl, dt, dd, li, h1, h2, p { margin: 0; padding: 0; }
ul, dl { list-style: none; }
a { text-decoration: none; -webkit-touch-callout: none; }
a, input, div { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
div{ -webkit-backface-visibility: hidden; /* -webkit-perspective: 1000; */ }
html { height: 100%; -ms-touch-action: none; }
body { height: 100%; font-size:16px; position: relative; color: #6E6E6E; background: #FFF; overflow: hidden; font-family: Helvica, Arial; -webkit-font-smoothing:antialiased;}
.fn-hide-text { font-size: 0; line-height: 0; overflow: hidden; }
.fn-border-box { -webkit-box-sizing: border-box; box-sizing: border-box; }
.arrow-down{ opacity: 0; position: absolute; bottom:0; left:50%; -webkit-transform:translate3d(-50%,-15px,0); width:1.875rem; height:1.125rem; background-image:url(../img/arrow.png); -webkit-animation:arrowDown 1.5s .5s infinite; }
#loading { position: fixed; height: 100%; width: 100%; background:#F7F8FA; z-index: 5; }
#loading .ins { opacity: 1; position: fixed; top: 40%; left: 50%; z-idnex:1; width: 5.375rem; height: 5.375rem; margin:-2.6875rem 0 0 -2.6875rem; -webkit-animation: revolve 2s infinite linear; -webkit-transition:opacity 1.5s; }
#loading .logo { position: fixed; bottom:60%; left:50%; -webkit-transform:translate3d(-50%,50%,0); z-index: 2; width: 3.125rem; height: 3.125rem; -webkit-transition:bottom 1.5s; }
#loading img { width: 100%; height: 100%; }
#loading.shift .ins{ opacity: 0;}
#loading.shift .logo{ bottom:10%;}
.music { background: rgba(0,0,0,0.2); border-radius: 1.25rem; width: 2.5rem; height: 2.5rem; position: absolute; right: 3.5%; top: 3%; z-index: 3; }
.music span { background: url(../img/music.png) no-repeat; -webkit-background-size: 100% 200%; background-size: 100% 200%; width: 1.25rem; height: 1.25rem; display: block; margin:.625rem auto 0;}
.music.pause span { background-position: 0 100%; }
.section { display: none; position: absolute; top: 0; left: 0; height: 100%; width: 100%; overflow: hidden; background-color:#F7F8FA; background-position: center; background-repeat: no-repeat; -webkit-background-size: 100% 100%; background-size: 100% 100%; }
.current,.section.next,.section.prev { display: -webkit-box; display: -ms-flexbox; display: box; -webkit-box-orient: vertical; box-orient: vertical; }
.section.next,.section.prev{ z-index: 2;}
.fn-box { display: -webkit-box; display: -ms-flexbox; display: box; }
.fn-box-center { -webkit-box-orient: vertical; box-orient: vertical; -webkit-box-pack: center; box-pack: center; -ms-flex-direction: column; -ms-flex-pack: center; }
.txt,.cbg{ background-repeat:no-repeat; background-size:100% 100%; -webkit-background-size:100% 100%;}
.sec1 .txt1{ opacity: 0; margin:-4rem auto 0; width:4.5rem; height:4.3125rem; background-image:url(../img/sec1_txt_1.gif);}
.sec1 .txt2{ opacity: 0; margin:2.3rem auto 2.8rem; width:18.94rem; height:2.8125rem; background-image:url(../img/sec1_txt_2.gif);}
.sec1 .clogo{ position: absolute; bottom:10%; left:50%; -webkit-transform:translate3d(-50%,50%,0); width: 3.125rem; height: 3.125rem; background-image:url(../img/logo.gif);}
.sec1 .arrow-down{ display: none;}
.sec1.ani .arrow-down{ display: inline-block;}
.sec1.ani .txt1{ -webkit-animation: fadeInDownLess .6s forwards linear;}
.sec1.ani .txt2{ -webkit-animation: fadeIn 1.5s .8s forwards linear;}
.sec2 .w-inner{ opacity: 0; visibility: hidden; padding:.5rem; width:90%; height:94%; -webkit-transition:opacity 1.5s linear; margin:0 auto; background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(65, 48, 254, 1)), to(rgba(255, 78, 78, 1))); background-image: -webkit-linear-gradient(45deg, rgba(65, 48, 254, 1),rgba(255, 78, 78, 1)); background-image: linear-gradient(45deg, rgba(65, 48, 254, 1),rgba(255, 78, 78, 1));}
.sec2 .m-inner{ overflow:hidden; padding:0 .6875rem; width:100%; height:100%; background:#F7F8FA;}
.sec2 .i-inner{ position: relative; vertical-align: middle; text-align:center; position: relative; height:100%; }
.sec2 .s-inner{ position:absolute; top:50%; left:50%; -webkit-transform:translate3d(-50%,-50%,0); max-width:100%; max-height:100%;}
.sec2 .s-inner img{ visibility: hidden; opacity: 0; -webkit-transition:opacity 1.5s linear;}
.sec2 .player{ opacity: 0; position: absolute; background-repeat: no-repeat; -webkit-background-size:100% 100%; background-size:100% 100%;}
.sec2 .p1{ top:1%; right:9.8%; width:1.5rem; height:6.6875rem; background-image:url(../img/sec2_txt_1.png);}
.sec2 .p2{ top:21.94%; right:.99%; width:.969rem; height:2.4375rem; background-image:url(../img/sec2_txt_2.gif);}
.sec2 .p3{ top:55.3%; left:.49%; width:2.53rem; height:1.219rem; background-image:url(../img/sec2_txt_3.gif);}
.sec2 .p4{ top:69.36%; left:29.79%; width:1.969rem; height:1rem; background-image:url(../img/sec2_txt_4.gif);}
.sec2 .p5{ bottom:1%; left:32.73%; width:1.1875rem; height:5.22rem; background-image:url(../img/sec2_txt_5.gif);}
.sec2.ani .player,.sec2.ani .s-inner img,.sec2.ani .w-inner{ opacity:1;}
.sec2.ani .p1{ -webkit-animation: fadeInDown 1s both 1s;}
.sec2.ani .p2{ -webkit-animation: fadeInLeft 1s 1.5s both;}
.sec2.ani .p3{ -webkit-animation: fadeInRight 1s 1.5s both;}
.sec2.ani .p4{ -webkit-animation: fadeInLeft 1s 2s both;}
.sec2.ani .p5{ -webkit-animation: fadeInUp 1s 2.5s both;}
.sec3{ background:#F7F8FA url(../img/sec3_line.png) no-repeat center bottom; background-size:100% auto; -webkit-background-size:100% auto;}
.sec3 .txt1{ width:18.75rem; height:6.125rem; margin:0 auto; background-image:url(../img/sec3_txt_1.png);}
.sec3 .wrap-txt2{ opacity: 0; position: relative; margin-top:7.75rem; margin-left:-1.2rem; height:5.5rem;}
.sec3 .txt2-bg{ position: absolute; top:0; left:50%; -webkit-transform:translate3d(-50%,0,0); width:14.9375rem; height:5.9rem; background-image:url(../img/sec3_1.png);}
.sec3 .txt2{ position: absolute; top:.5rem; left:50%; margin-left:1rem; -webkit-transform:translate3d(-50%,0,0); width:11.1875rem; height:3.625rem; background-image:url(../img/sec3_txt_2.png);}
.sec3 .txt3{ opacity: 0; width:18.5rem; height:3.9735rem; margin:.6rem auto 0; background-image:url(../img/sec3_txt_3.png);}
.sec3.ani .wrap-txt2{ -webkit-animation: fadeInUp .8s both;}
.sec3.ani .txt3{ -webkit-animation: fadeInUpB .5s both;}
.sec4{ background-image:url(../img/sec4_line.png);}
.sec4 .txt{ opacity: 0; width:20rem; margin:0 auto; -webkit-background:auto 100%; background-size:auto 100%;}
.sec4 .txt1{ height:4.2rem; background-image:url(../img/sec4_txt_1.png);}
.sec4 .txt2{ height:11.75rem; margin-top:3rem; background-image:url(../img/sec4_txt_2.png);}
.sec4 .wrap-txt3,.sec4 .wrap-txt4{ position: relative; width:20rem; height:3.25rem; margin:0 auto; overflow:hidden;}
.sec4 .wrap-txt3{ margin-top:3.2rem;}
.sec4 .txt3{ height:2rem; margin-top:1.25rem; background-image:url(../img/sec4_txt_3.png);}
.sec4 .wrap-txt4{ margin-top:.5825rem; margin-bottom:2rem;} 
.sec4 .txt4{ height:1.57rem; margin-top:1.3125rem; background-image:url(../img/sec4_txt_4.png);}
.sec4 .txt5,.sec4 .txt6{ opacity: 1; width:9.1875rem; height:2.1875rem; background-image:url(../img/sec4_txt_5.png); -webkit-background:100% 100%; background-size:100% 100%;}
.sec4 .txt6{ width:11.5rem; background-image:url(../img/sec4_txt_6.png);}
.sec4 .wrap-txt3 .wrap-inner,.sec4 .wrap-txt4 .wrap-inner{ opacity: 0; position: absolute; top:0; left:3.6875rem; padding:.5625rem .6875rem; background:#FE3547; }
.sec4 .wrap-txt4 .wrap-inner{ left:5.17rem; background:#04008A;}
.sec4.ani .txt1{ -webkit-animation: fadeInUpLess 1s .1s both;}
.sec4.ani .txt2{ -webkit-animation: fadeIn 2s .9s both;}
.sec4.ani .txt3{ -webkit-animation: fadeIn 2s .9s both;}
.sec4.ani .txt4{ -webkit-animation: fadeIn 2s .9s both;}
.sec4.ani .wrap-txt3 .wrap-inner{ -webkit-animation: fadeInUp 1s 2.2s both;}
.sec4.ani .wrap-txt4 .wrap-inner{ -webkit-animation: fadeInUp 1s 3.2s both;}
.sec5{ background-image:url(../img/sec5_line.png);}
.sec5 .inner{ width:100%; height:100%; background:url(../img/sec5_point.png) no-repeat center 4.4rem; -webkit-background-size:71.33% auto; background-size:71.33% auto;}
.sec5,.sec7{ background-color:#030067;}
.sec5 .txt1{ margin:3rem auto 1rem; width:19rem; height:10.9375rem; background-image:url(../img/sec5_txt_1.png); -webkit-transform:translate3d(0,20px,0); -webkit-transition:-webkit-transform 1s;}
.sec5 .txt2{ opacity: 0; margin:6rem auto 0; width:20.25rem; height:3.375rem; background-image:url(../img/sec5_txt_2.png); -webkit-background-size:auto 100%; background-size:auto 100%;}
.sec5 .txt3{ opacity: 0; margin:1.6rem auto 3.2rem;  width:20.25rem;  height:9.25rem; background-image:url(../img/sec5_txt_3.png); -webkit-background-size:auto 100%; background-size:auto 100%;}
.sec5.ani .txt1{  -webkit-transform:translate3d(0,0,0); }
.sec5.ani .txt2{  -webkit-animation: fadeIn 2s .8s both;}
.sec5.ani .txt3{ opacity:1; -webkit-animation: bounceInBig 1s 2s both;}
.sec6{ background-color:#F7F8FA; background-image:url(../img/sec6_bg.jpg); -webkit-background-size:100% 100%; background-size:100% 100%;}
.sec6 .txt1{ margin-left:96.7%; -webkit-transform:translate3d(-100%,0,0); width:11.8125rem; height:7.9rem; margin-top:3.5rem; background-image:url(../img/sec6_txt_1.png);}
.sec6 .wrap-txt2{ position: relative; height:5.9375rem; margin-top:2.4rem; margin-bottom:.4rem;}
.sec6 .txt2-bg{ opacity: 0; position: absolute; top:0; left:9.25rem; width:9.9375rem; height:5.9375rem; background-image:url(../img/sec6_1.png);}
.sec6 .txt2{ opacity: 0; position:absolute; top:.5rem; left:10.875rem; width:7.22rem; height:5rem; background-image:url(../img/sec6_txt_2.png);}
.sec6 .txt3{ opacity: 0; width:6.625rem; height:2.75rem; margin-top:5rem; margin-left:1.5rem; background-image:url(../img/sec6_txt_3.png);}
.sec6 .txt4{ opacity: 0; width:6.75rem; height:2.75rem; margin-top:1rem; margin-left:2.5625rem; background-image:url(../img/sec6_txt_4.png);}
.sec6 .txt5{ opacity: 0; width:8.3125rem; height:2.75rem; margin-top:.7rem; margin-left:4.25rem; margin-bottom:1rem; background-image:url(../img/sec6_txt_5.png);}
.sec6.ani .txt2-bg,.sec6.ani .txt2{opacity:1; -webkit-animation:bounceIn2 1s .3s both;}
.sec6.ani .txt3{ -webkit-animation: fadeInLeft 1.3s .9s both;}
.sec6.ani .txt4{ -webkit-animation: fadeInLeft 1.3s 1.4s both;}
.sec6.ani .txt5{ -webkit-animation: fadeInLeft 1.3s 1.9s both;}
.sec7{ background-image:url(../img/sec7_line.png); }
.sec7 .txt1{ position: absolute; top:2.5rem; left:50%; -webkit-transform:translateX(-50%); width:20rem; height:21.3125rem; background-image:url(../img/sec7_txt_1.png);}
.sec7 .btn-fire{ position: absolute; left:50%; bottom:4%; width:6.875rem; height:8.125rem; background-image:url(../img/btn_fire.png); -webkit-animation:pulse 1.6s .3s both infinite; -webkit-transition:bottom .8s ease-in .2s;}
.sec7 .btn-fire.hover{ opacity:.6; -webkit-animation:none; -webkit-transform:translate3d(-50%,0,0);}
.sec7 .txt2{ height:2.25rem; margin-top:1.875rem; background-image:url(../img/btn_txt.png); background-position: center; -webkit-background-size:auto 100%; background-size:auto 100%; -webkit-transform:rotate(-180deg);}
.sec7 .fire-cover{ pointer-events:none; opacity: 0; position: absolute; top:0; left:0; height:100%; width:100%; background:#FFF; z-index:2; }
.sec7 .arrow-down{ display: none; background-image:url(../img/arrow2.png);}
.sec7.act{ background:#030067; z-index:0;}
.sec7 .wrap-cont{ display: none; opacity: 0; height:100%; }
.sec7 .txt5{ width:16rem; height:15.625rem; margin:0 auto; border:.78rem solid rgba(247,248,250,.9); background:url(../img/sec9_txt_1.png) no-repeat center; -webkit-background-size:13.125rem 13.625rem; background-size:13.125rem 13.625rem;}
.sec7 .fire{ position:absolute; top:0; left:0; -webkit-transform:translate3d(-100%,-100%,0); height:53.125rem; width:31.25rem; background:url(../img/sec9_fire_1.png) no-repeat; -webkit-background-size:cover; z-index:-1; }
.sec7.act .fire1{ -webkit-animation:fireDown 3.5s 1s both;}
.sec7.act .fire2{ background-image:url(../img/sec9_fire_2.png); -webkit-animation:fireDown 4s 2s both;}
.sec7.act .fire3{ background-image:url(../img/sec9_fire_3.png); -webkit-animation:fireDown 4s 2.8s infinite both;}
.sec7.act .fire4{ background-image:url(../img/sec9_fire_4.png); -webkit-animation:fireDown 4s 3.4s infinite both;}
.sec7.act .fire5{ background-image:url(../img/sec9_fire_2.png); -webkit-animation:fireDown 4s 4.1s infinite both;}
.sec7.act .fire6{ background-image:url(../img/sec9_fire_4.png); -webkit-animation:fireDown 4s 4.7s infinite both;}
.sec7.act .fire7{ background-image:url(../img/sec9_fire_3.png); -webkit-animation:fireDown 4s 5.3s infinite both;}
.sec7.act .fire8{ background-image:url(../img/sec9_fire_2.png); -webkit-animation:fireDown 4s 5.8s infinite both;}
.sec7.act .fire9{ background-image:url(../img/sec9_fire_3.png); -webkit-animation:fireDown 4s 6.2s infinite both;}
.sec7.act .code{ overflow:hidden; width:15.625rem; height:2.5rem; color:#030067; text-align:center; margin:1rem auto 0; background:rgba(255,255,255,.9) url(../img/sec9_txt_5.png) no-repeat center; -webkit-background-size:14.375rem 1.25rem; background-size:14.375rem 1.25rem;}
.sec7.act .code ul{ width:9.25rem; height:2rem; margin-top:.2rem; margin-left:4.375rem; font-size: 0; text-align:center;}
.sec7.act .code li{ display:inline-block; width:1.46rem; height:100%; margin:0 .02rem; background:url(../img/number.png) no-repeat; -webkit-background-size:1.375rem 20rem; background-size:1.375rem 20rem;  -webkit-transition:background-position .1s;}
.sec7.act .code li:nth-child(1){ -webkit-transition-duration:1.2s;}
.sec7.act .code li:nth-child(2){ -webkit-transition-duration:1s;}
.sec7.act .code li:nth-child(3){ -webkit-transition-duration:.8s;}
.sec7.act .code li:nth-child(4){ -webkit-transition-duration:.6s;}
.sec7.act .code li:nth-child(5){ -webkit-transition-duration:.4s;}
.sec7.act .code li:nth-child(6){ -webkit-transition-duration:.2s;}
.sec7.act .code .n1{ background-position:0 -2rem; }
.sec7.act .code .n2{ background-position:0 -4rem; }
.sec7.act .code .n3{ background-position:0 -6rem; }
.sec7.act .code .n4{ background-position:0 -8rem; }
.sec7.act .code .n5{ background-position:0 -10rem; }
.sec7.act .code .n6{ background-position:0 -12rem; }
.sec7.act .code .n7{ background-position:0 -14rem; }
.sec7.act .code .n8{ background-position:0 -16rem; }
.sec7.act .code .n9{ background-position:0 -18rem; }
.sec7.act .arrow-down{ display:inline-block;}
.sec7.act .btn-fire{ bottom:100%; -webkit-animation:none; -webkit-transform:translate3d(-50%,0,0);}
.sec7.act .fire-cover{ -webkit-animation:fireCover 1.8s both; }
.sec7.act .txt1{ -webkit-animation:rollOut .7s .1s both;}
.sec7.act .txt2,.sec7 .btn-fire.hover .txt2{ display: none;}
.sec7.act .txt6{ width:16.5625rem; height:1.75rem; margin:1.5rem auto 0; background:rgba(255,255,255,.8) url(../img/sec9_txt_2.png) no-repeat center; -webkit-background-size:15rem 1rem; background-size:15rem 1rem;}
.sec7.act .txt7{ width:18.3125rem; height:1.75rem; margin:.1875rem auto 0; background:rgba(255,255,255,.8) url(../img/sec9_txt_3.png) no-repeat center; -webkit-background-size:16.75rem 1.125rem; background-size:16.75rem 1rem;}
.sec7.act .txt8{ width:10.5rem; height:2rem; margin:.4735rem auto 0; background:rgba(255,255,255,.9) url(../img/sec9_txt_6.png) no-repeat center; -webkit-background-size:8.8125rem 1.25rem; background-size:8.8125rem 1.25rem;}
.sec7.act .share-btn{ display:block; margin:1.25rem auto 1rem; width:13.125rem; height:5rem; background-image:url(../img/sec9_txt_4.png);}
.sec7.act .sec7{ display: block;}
.sec7.act .wrap-cont{ display: block; -webkit-animation:fadeIn 3s 3s both;}
.sec7.act .phone{ -webkit-animation:none;}
.share-mask{ display:none; position: absolute; top:0; left:0; z-index:5; height:100%; width:100%; background:rgba(0,0,0,.85) url(../img/share_mask.png) no-repeat center 1.3rem; -webkit-background-size:21.125rem 21.6878rem; background-size:21.125rem 21.6878rem;}
.sec8 .txt1{ position:relative; width:18.75rem; height:3.4375rem; margin:2rem auto 0; background-image:url(../img/sec8_txt_1.png);}
.sec8 .txt1 div{ opacity: 0; position: absolute; top:0; left:0; width:2.15625rem; height:3.4375rem; text-align:center; background-image:url(../img/sec8_num_2015.png); -webkit-background-size:18.8125rem 3.4375rem; background-size:18.8125rem 3.4375rem;}
.sec8 .txt1 .num2{ left:2.375rem; background-position:-2.375rem 0; }
.sec8 .txt1 .num3{ left:4.75rem; background-position:-4.8rem 0; }
.sec8 .txt1 .num4{ left:7.125rem; background-position:-7.125rem 0; }
.sec8 .txt1 .num5{ left:11.875rem; background-position:-4.8rem 0; }
.sec8 .txt1 .num6{ left:16.625rem; background-position:0 0; }
.sec8 .txt2{ width:13.75rem; height:4.8125rem; margin:1.7rem auto 0; background-image:url(../img/sec8_txt_2.png);}
.sec8 .txt3{ width:14.75rem; height:3.5rem; margin:1.5rem auto 0; -webkit-transform:translate3d(1.34rem,0,0); background-image:url(../img/sec8_txt_3.png);}
.sec8 .txt4{ position: absolute; left:50%; bottom:.8rem; -webkit-transform:translateX(-50%); opacity: .8; width:15.875rem; height:1.9rem; background-image:url(../img/sec8_txt_4.png);}
.sec8 .download-btn{ position:absolute; bottom:4rem; left:50%; -webkit-transform:translateX(-50%); opacity: 0; width:12.5rem; height:5rem; background-image:url(../img/sec8_1.png); z-index:2;}
.sec8 .btm-logo{ width:8.3125rem; height:3.75rem; margin:1rem auto 11rem; background-image:url(../img/sec8_2.png);}
.sec8.ani .num1{ opacity: 1; -webkit-animation: flipInX 2s .4s both;}
.sec8.ani .num2{ opacity: 1; -webkit-animation: flipInX 2s .6s both;}
.sec8.ani .num3{ opacity: 1; -webkit-animation: flipInX 2s .8s both;}
.sec8.ani .num4{ opacity: 1; -webkit-animation: flipInX 2s 1s both;}
.sec8.ani .num5{ opacity: 1; -webkit-animation: flipInX 3s 1.4s both;}
.sec8.ani .num6{ opacity: 1; -webkit-animation: flipInX 3s 1.8s both;}
.sec8.ani .download-btn{ -webkit-animation: fadeInUpC 1s 2.5s both;}

/* 动画 */
@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-webkit-keyframes revolve{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(360deg);}
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform:rotate(180deg) translate3d(50%,0,0) scale3d(.9, .9, .9);
            transform:rotate(180deg) translate3d(50%,0,0) scale3d(.9, .9, .9);
  }

  50% {
    -webkit-transform:rotate(180deg) translate3d(50%,0,0) scale3d(1, 1, 1);
            transform:rotate(180deg) translate3d(50%,0,0) scale3d(1, 1, 1);
  }

  100% {
    -webkit-transform:rotate(180deg) translate3d(50%,0,0) scale3d(.9, .9, .9);
            transform:rotate(180deg) translate3d(50%,0,0) scale3d(.9, .9, .9);
  }
}

@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(500px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(500px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    opacity: 1;
  }

  40% {
    -webkit-transform: perspective(500px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(500px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(500px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(500px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(500px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(500px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(500px);
            transform: perspective(500px);
     opacity: 1;
  }
}

@-webkit-keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 1000px, 0);
            transform: translate3d(0, 1000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
            transform: translate3d(0, -5px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -1000px, 0);
            transform: translate3d(0, -1000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }

  100%{ opacity: 1;}
}

@-webkit-keyframes fireDown {
  0% {
    -webkit-transform:translate3d(-100%,-100%,0);
  }
  100% {
    -webkit-transform:translate3d(100%,100%,0);
  }
}

@-webkit-keyframes fireCover {
  0% {
		opacity: 0;
  }

  58% {
		opacity: 0;
  }

  59% {
		opacity: 1;
  }

  100% {
		opacity: 0;
  }
}

@-webkit-keyframes rollOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
            transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
  }
}

@-webkit-keyframes arrowDown {
  0% {
    opacity: 0;
    -webkit-transform:translate3d(-50%,-10px,0);
  }

  80% {
    opacity: 1;
    -webkit-transform:translate3d(-50%,-5px,0);
  }

  100% {
    opacity: 0;
    -webkit-transform:translate3d(-50%,0,0);
  }
}

@-webkit-keyframes fadeInDownLess {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -60%, 0);
            transform: translate3d(0, -60%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes fadeInUpB {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(.6rem, 100%, 0);
            transform: translate3d(.6rem, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(.6rem, 0, 0);
            transform: translate3d(.6rem, 0, 0);
  }
}

@-webkit-keyframes fadeInUpC {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 100%, 0);
            transform: translate3d(-50%, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
  }
}

@-webkit-keyframes fadeInUp2d {
  0% {
    opacity: 0;
    -webkit-transform: translate(0,100%);
            transform: translate(0,100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes fadeInUpLess {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 40%, 0);
            transform: translate3d(0, 40%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes bounceInBig {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(12.3, 12.3, 12.3);
            transform: scale3d(12.3, 12.3, 12.3);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
            transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
            transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes blink {
  0% { opacity: .7;
  }

  50% { opacity: 1;
  }

  100% {  opacity:.7;
  }
}

@-webkit-keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
            transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
            transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
            transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
            transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
}

@-webkit-keyframes flipInY2 {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
            transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    opacity: 0;
  }

  100% {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
}

@-webkit-keyframes shake {
  0%, 80%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  82%, 86%, 90%, 94%, 98% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }

  84%, 88%, 92%, 96% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
}

@-webkit-keyframes bounceIn2 {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 0);
            transform: scale3d(0, 0, 0);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
            transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
            transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes swing {
  0%,100% {
    -webkit-transform: rotate3d(0, 0, 1, 25deg);
            transform: rotate3d(0, 0, 1, 25deg);
  }

  50% {
    -webkit-transform: rotate3d(0, 0, 1, -25deg);
            transform: rotate3d(0, 0, 1, -25deg);
  }
}

/* 适配 */
@media only screen and (max-height: 590px) and (min-width:370px) {
	.sec5 .txt2{ margin-top:5rem;}
	.sec6 .txt3{ margin-top:4rem;}
	.sec6 .txt5{ margin-bottom:2rem;}
	.sec7 .share-btn{ margin-top:1.8rem;}
	.sec7 .txt5{ width:15rem; height:14.8rem;}
	.sec7.act .code,.sec7.act .txt6{ margin-top:.8rem;}
}
@media only screen and (max-height: 480px) {
	.sec5 .txt2{ margin-top:4.5rem;}
	.sec6 .txt3{ margin-top:3rem;}
	.sec6 .txt5{ margin-bottom:3rem;}
	.sec8 .download-btn{ margin-top:3rem;}
	.sec7 .code,.sec7 .txt6{ margin-top:1rem;}
	.sec7 .txt5{ height:14rem; width:14rem;}
	.sec7 .share-btn{ margin-top:1.2rem;}
}
@media only screen and (max-height: 450px) {
	.sec5 .txt2{ margin-top:3rem;}
	.sec6 .wrap-txt2{ margin-top:1.5rem; margin-bottom:0;}
	.sec6 .txt3{ margin-top:2.5rem;}
	.sec6 .txt5{ margin-bottom:3.5rem;}
	.sec8 .download-btn{ margin-top:1.5rem;}
	.sec7 .code,.sec7 .txt6{ margin-top:.8rem;}
	.sec4 .wrap-txt4{ margin-bottom:1rem;}
	.sec7 .txt1{ top:1.5rem;}
	.sec7 .txt5{ width:12.2rem; height:12.2rem; -webkit-background-size:10.475rem 10.9rem; background-size:10.475rem 10.9rem;}
} 
@media only screen and (max-height: 420px) {
	.sec5 .txt2{ margin-top:1.5rem;}
	.sec5 .txt3{ margin-top:1.2rem;}
	.sec6 .txt3{ margin-top:1.5rem;}
	.sec6 .wrap-txt2{ margin-top:1rem;}
	.sec8 .btm-logo{ bottom:.4rem;}
	.sec7 .txt1{ top:1rem;}
	.sec7 .btn-fire{ bottom:2%;}
}
.android-app .sec5.ani .txt3{ -webkit-animation:bounceInUp 1s 2s both; }
.android-app .sec4 div{-webkit-backface-visibility:visible;}
.android-app .sec6 .txt3{ margin-top:3rem;}
.android-app .sec6 .txt1,.android-app .sec5 .txt1{ margin-top:1rem;}
.android-app .sec7 .txt5{ width:12.2rem; height:12.2rem; -webkit-background-size:10.475rem 10.9rem; background-size:10.475rem 10.9rem;}
.android-app .sec7 .code,.android-app .sec7 .txt6{ margin-top:1rem;}
.android-app .sec5 .txt2{ margin-top:1.5rem;}
.ios-app .share-mask{ background-image:url(../img/share_mask_iosapp.png); -webkit-background-size:21.125rem 24rem;}
.ios-app.small .sec4 .txt2,.ios-app.small .sec4 .wrap-txt3{ margin-top:1.5rem;}
.ios-app.small .sec5 .txt1{ margin-top:4%;}
.ios-app.small .sec5 .txt2{ margin-top:.4rem;}
.ios-app.small .sec6 .txt1{ margin-top:.8rem;}
.ios-app.small .sec7 .txt1{ margin-top:0rem; top:.1rem;}
.ios-app.small .sec7 .txt5{ height:11rem; width:11rem;}
.ios-app.small .sec7.act .code,.ios-app.small .sec7.act .txt6{ margin-top:.5rem;}
.ios-app.small .sec7.act .share-btn{ margin-top:.3rem;}
.ios-app.small .sec8 .download-btn{ margin-top:0; margin-bottom:3.9rem;}
.ios-app.small .sec8 .btm-logo{ bottom:.1rem;}
.android-app .sec8 .download-btn,.ios-app .sec8 .download-btn{ display: none;}
.ip6-plus .sec7.act .txt1{ display: none; -webkit-animation:none;}
.ip6-plus .sec7 .btn-fire{ -webkit-animation:none; -webkit-transform:translate3d(-50%,0,0);}
.ip6-plus .sec7 .txt2{ -webkit-transform:none;}

