html,
body,
div,
span,
canvas {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}
.box-item{
    width: 30.3333333vw;
    height: 30.33333vw;
    margin: 1vw;
    background: orange;
    border-radius: 4px;
}