.list_work{ border-bottom:1px solid #e1e1e1; width:100%; float:left; padding-bottom:50px; margin-bottom:50px; position:relative !important;}
.list_work h2{ float:left; }

.jcarousel-skin-tango .jcarousel-container {
	width:100%;
	padding:0;
	float:left;
/*	overflow:hidden;*/
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    max-width: 100%;
    padding:0;
	margin:0;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
	top:2%;
    width: 100%;
}
.jcarousel-skin-tango .jcarousel-item {
	float:left;
    width: 218px;
	height:250px;
	opacity:1;
	padding-bottom:10px;
	text-align:center;
}
.jcarousel-skin-tango .jcarousel-item img{ margin-bottom:10px;}
.jcarousel-skin-tango .jcarousel-item span{ color:#373737 !important; font-size:16px; font-family: 'Open Sans', sans-serif; display:block; font-weight:400; width:100%; } 
.jcarousel-skin-tango .jcarousel-item small{ color:#8a8a8a; font-size:11px;}
.jcarousel-skin-tango .jcarousel-item:hover span{ color:#f04883;}
.jcarousel-skin-tango .jcarousel-item:hover {
	opacity:1;
}

.jcarousel-skin-tango .jcarousel-item-horizontal{
	margin-left: 0;
    margin-right: 29px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: -48px;
    right: 0px;
    width: 25px;
    height: 23px;
    cursor: pointer;
	z-index:9;
	background: transparent url(../images/next-horizontal.png) top no-repeat;
}
.jcarousel-skin-tango:hover .jcarousel-next-horizontal:hover{ background-position:bottom;}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: -48px;
    right: 28px;
    width: 25px;
    height: 23px;
    cursor: pointer;
	z-index:9;
	background: transparent url(../images/prev-horizontal.png) top no-repeat;
}
.jcarousel-skin-tango:hover .jcarousel-prev-horizontal:hover{ background-position:bottom;}
