<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>tataUFO official website</title>
  <meta name="apple-itunes-app" content="app-id=721033608">
  <meta name="google-play-app" content="app-id=com.android.tataufo">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Description"
        content="tataUFO是一个针对高校学生的在线交友平台以提供高效 真实和高信赖度的交友服务为目标。tataUFO每天为你传送一位异性同学 勇敢地坐上传送爱的时光机为你心仪的ta. ">
  <meta name="Keywords"
        content="Tataufo tataUFO 大学 大学生 同学 初恋 交友 异性朋友 同城交友 北京 上海 武汉 广州 深圳 新缘分 纯爱时代 校园 北大 北京大学 清华 清华大学 人大 人民大学 跨校恋 轻约会 大学生活 新生 宿舍 校园轻约会">
  <meta property="og:title" content="大学生轻社交 tataUFO">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://www.tataufo.com/">
  <meta property="og:image" content="http://imgcdn.tataufo.com/resources/images/og_logo.png">
  <meta property="og:description"
        content="tataUFO是一个针对高校学生的在线交友平台以提供高效 真实和高信赖度的交友服务为目标。tataUFO每天为你传送一位异性同学 勇敢地坐上传送爱的时光机 为你心仪的ta。">

  <!-- Favicon and touch icons -->
  <link rel="shortcut icon" href="/static/tata_web/ico/favicon.ico" type="image/x-icon"/>
  <link rel="apple-touch-icon" sizes="57x57" href="/static/tata_web/ico/apple-touch-icon-57x57.png"/>
  <link rel="apple-touch-icon" sizes="72x72" href="/static/tata_web/ico/apple-touch-icon-72x72.png"/>
  <link rel="apple-touch-icon" sizes="76x76" href="/static/tata_web/ico/apple-touch-icon-76x76.png"/>
  <link rel="apple-touch-icon" sizes="114x114" href="/static/tata_web/ico/apple-touch-icon-114x114.png"/>
  <link rel="apple-touch-icon" sizes="120x120" href="/static/tata_web/ico/apple-touch-icon-120x120.png"/>
  <link rel="apple-touch-icon" sizes="144x144" href="/static/tata_web/ico/apple-touch-icon-144x144.png"/>
  <link rel="apple-touch-icon" sizes="152x152" href="/static/tata_web/ico/apple-touch-icon-152x152.png"/>

  <link rel="stylesheet" type="text/css" href="/static/tata_web/css/fullpage.css"/>
  <link rel="stylesheet" type="text/css" href="/static/tata_web/css/style.css"/>
  <link rel="stylesheet" type="text/css" href="/static/tata_web/css/animate.css"/>


</head>

<body>
<!--Header-->
<div class="header fixed">
  <div class="header_wrap">
    <a href="/web" class="logo" id="logo_w">tataUFO</a>

  </div>
</div>
<!--Menu-->
<ul id="menu">
  <li data-menuanchor="Start" class="active"><a href="#Start">1</a></li>
  <li data-menuanchor="School"><a href="#School">2</a></li>
  <li data-menuanchor="Match"><a href="#Match">3</a></li>
  <li data-menuanchor="Newworld"><a href="#Newworld">4</a></li>
</ul>

<!--fixed-->
<img src="/static/tata_web/images/rocket.png" class="rocket" alt=""/>
<img src="/static/tata_web/images/star-w.png" class="star-1" alt=""/>
<img src="/static/tata_web/images/star-w.png" class="star-2" alt=""/>
<img src="/static/tata_web/images/star-w.png" class="star-3" alt=""/>
<img src="/static/tata_web/images/star-w.png" class="star-4" alt=""/>
<img src="/static/tata_web/images/star-y.png" class="star-5" alt=""/>
<img src="/static/tata_web/images/star-y.png" class="star-6" alt=""/>
<img src="/static/tata_web/images/star-y.png" class="star-7" alt=""/>
<img src="/static/tata_web/images/bottom-earth.png" class="bottom-earth" alt=""/>
<!--FullPage-->
<div id="fullpage">
  <div class="section" id="section1">
    <div class="homebg01">
      <div class="container">
        <div class="row">
          <div class="content_cn">
            <p>欢迎启程<br/>
              <span class="smaller-text">一款只有大学生才能打开的App！</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section" id="section2">
    <div class="homebg02">
      <div class="container">
        <div class="row">
        </div>
      </div>
    </div>
  </div>
  <div class="section" id="section3">
    <div class="homebg03">
      <div class="container">
        <div class="row">
          <div class="content_cn">
            <p><span class="larger-text">独一无二的推荐机制，全新改版的社区、社团 </span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section" id="section4">
    <div class="homebg04">
      <div class="container">
        <div class="row">
          <div class="content_cn">
            <p>带你发现新世界<br/>
                        <span class="smaller-text">陌生的城市、陌生的人群一颗颗孤单的小星球，<br/>
                        聚集在一起，发出更大的光</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--downlad button-->
<div class="download_button">
  <a href="javascript:;" id="saoma" class="download download_cn">扫码下载</a><br>

  <div class="txt-us" style="font-size: .6em;text-decoration: underline;cursor: pointer" onclick="location='http://www.tataufo.com/company'">关于我们</div>

</div>


<div class="code_box">
  <img class="download_code" src="/static/tata_web/images/download_code_cn.png"/>
</div>

<div class="code_box_wechat">
  <img class="download_code" src="/static/tata_web/images/download_code_wechat.png"/>
</div>

<div class="code_box_webo">
  <img class="download_code" src="/static/tata_web/images/download_code_weibo.png"/>
</div>

<script type="text/javascript" src="/static/tata_web/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/static/tata_web/js/jquery-1.11.1-ui.min.js"></script>
<script type="text/javascript" src="/static/tata_web/js/jquery.fullPage.min.js"></script>
<script type="text/javascript">
  //resize
  var winIE = (navigator.userAgent.indexOf("Opera") == -1 && (document.getElementByIdx &&  document.documentElement.behaviorUrns))  ? true : false;
  function bodySize(){
    if(winIE && document.documentElement.clientWidth) {
      var obj = document.getElementsByTagName_r("body")[0].style;
      obj.width = (document.documentElement.clientWidth < 760) ? "760px" : "100%";
    }
  }
  function init(){
    if(winIE) {
      bodySize();
    }
  }
  onload = init;
  if(winIE) {
    onresize = bodySize;
  }

  //fullpage plugin
  $(function() {
    $('#fullpage').fullpage({
      sectionsColor: ['#1b5a98', '#1b5a98', '#1b5a98', '#1b5a98', '#1b5a98'],
      anchors: ['Start', 'School', 'Match', 'Newworld'],
      menu :'#menu',
      verticalCentered: false,
      css3: true,
      scrollingSpeed: 600,
      loopBottom: true
    });
//	$('.download_cn').on('click', function(){
//		$('.mask').show();
//		$('.code_box').addClass('show');
//	});





//	$('#close-code, .mask').on('click', function(){
//		$('.mask').hide();
//		$('.code_box').removeClass('show').addClass('show_hide');
//		setTimeout(function() {
//			$('.code_box').removeClass('show_hide');
//		}, 1000);
//	});
  });

  //bottom earth
  var pagew = $(document).width();
  var bottomearthW = $('.bottom-earth').width();
  $(document).ready(function(){
    $('.bottom-earth').css({'left':(pagew-bottomearthW)/2/pagew*100 + '%'})
  });

  //bottom icon的位置
  var btnsao = $('#saoma').offset().left;
  var btnsaoH = $('#saoma').offset().top;
  //var btnwechat = $('#wechat').offset().left;
  //var btnweibo = $('#weibo').offset().left;

  //二维码位置
  $(document).ready(function(){
    $('.code_box').css({left:btnsao +190+ 'px',top:btnsaoH - 120 +'px'});
//    $('.code_box_wechat').css({left:btnwechat +100+ 'px',top:btnsaoH - 120 +'px'});
//    $('.code_box_webo').css({left:btnweibo +100+ 'px',top:btnsaoH - 120 +'px'})
  });


  console.log(btnsaoH);


  //鼠标移动出现
  $('.download_cn').hover(function(){
            $('.code_box').removeClass('show_hide').addClass('show');
            $('.show').css({top:btnsaoH - 80 +'px'});
          }, function(){
            $('.code_box').removeClass('show').addClass('show_hide');
            $('.show_hide').css({top:btnsaoH - 120 +'px'});
          }
  );

  //$('.wechat_button').hover(function(){
  //            $('.code_box_wechat').removeClass('show_hide').addClass('show');
  //            $('.show').css({top:btnsaoH - 80 +'px'});
  //        }, function(){
  //            $('.code_box_wechat').removeClass('show').addClass('show_hide');
  //            $('.show_hide').css({top:btnsaoH - 120 +'px'});
  //        }
  //);
  //
  //$('.webo_button').hover(function(){
  //            $('.code_box_webo').removeClass('show_hide').addClass('show');
  //            $('.show').css({top:btnsaoH - 80 +'px'});
  //        }, function(){
  //            $('.code_box_webo').removeClass('show').addClass('show_hide');
  //            $('.show_hide').css({top:btnsaoH - 120 +'px'});
  //        }
  //);



</script>

</body>
</html>
