input.btn-block[type="submit"], input.btn-block[type="reset"], input.btn-block[type="button"]{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 5%;
    /*top: 10%;*/
    /*position: relative;*/
}
.choos{
    margin-top: 10%;
}