html, body, div, object, pre, code, h1, h2, h3, h4, h5, h6, p, span, em, cite, del, a, img, ul, li, ol, dl, dt, dd, fieldset, legend, form, input, button, textarea, header, section, footer, article, nav, aside, menu, figure, figcaption {
	margin:0;
	padding:0;
	font-family:Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif;
	outline:none
}
body{text-align: center;overflow-y:hidden;height:500px;}
h1, h2, h3, h4, h5, h6, sup {
	font-size:100%;
	font-weight:normal
}
fieldset, img {
	border:0;
}
mark {
	background:transparent;
}
header, section, footer, article, nav, aside, menu {
	display:block
}
.clr {
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
}
/*table {
	border-collapse:collapse;
	border-spacing:0;
}*/
ol, ul, li {
	list-style:none;
}
em {
	font-style:normal
}
label, input, button, textarea {
	border:none;
	vertical-align:middle;
	
}
html, body {
	width:100%;
	overflow-x:hidden
}
html {
	-webkit-text-size-adjust:none;
}
body {
	font-family:Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif;
	margin:0;
	padding: 0;
	color:#666;text-decoration: none;
	background-color:#000;
	font-size:14px;
}

a {
	text-decoration:none;
	color:#464646;
	outline:none;
}
a, li, input, button {
	outline:none;
}
.clr {
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
}
.copyright{padding: 0 0 8px 0;font-size: 12px;color:#FFFFFF;text-align: center;}
.copyright a{color:rgba(255, 255, 255, 0.6);}

/**/
/*修改前*/
.cardWrap{ /* position: relative;*/height: 100%;z-index:101;position:fixed;width: 100%;}
/*修改后*/
/*
.cardWrap{ height: 100%;position:fixed;width: 100%; top:0; left:0; right:0; bottom:0;}
*/
.hot {
height: 30px;line-height: 30px;color: #ffffff;text-align:center;background: rgba(0,0,0,0.5);font-size:12px; position: fixed;  width:100%;z-index: 3000;}
/*修改前*/
/*
.cardbg{ position: static; top:0; left:0; right:0; bottom:0; z-index:1; width:100%; min-height: 100%;height:100%;}
*/
/*修改后*/
.cardbg{ width:100%; border:0; /* z-index:-1;*/}
#div1{
top:0;
left:0;
bottom:0;
right:0;
position:fixed;
z-index:-1; 
} 
.messageBox{ position: absolute;width:100%; z-index:1000;top:25%;position:fixed;margin-top:-10px;}
.user{margin: 0 15px;background-color:rgba(255,255,255,0.5);border-radius: 3px;font-size: 16px;line-height: 18px;border:none;
color: #000000;left:15px;right:15px; padding:10px 10px 5px 10px;/*box-shadow: inset 0 1px 3px rgba(0,0,0,0.61);*/ height:138px; }
.message{height:100px; overflow-x:hidden;-webkit-overflow-scrolling:touch;}
.name{ display:block; text-align:right; height:20px}
.time{ font-size:12px; display:block; text-align:right;}
.sendBtn-box {/*padding: 5px 15px 10px; */clear:both;position: absolute;
    top: 80%;
    width: 100%;}
.messageBox input, .messageBox textarea{ font-size:14px;background-color:transparent;}
.messageBox input{ text-align:right; height:20px}
.messageBox textarea{ text-align:left;  width:100%; height:70px; overflow: hidden;font-size: 14px;line-height: 18px; }

.sendBtn {
	display: block;
	height: 39px;
	line-height: 39px;
	font-size: 18px;
	border-radius: 3px;
/*background-color: #3dba70;*/
	 background: none repeat scroll 0 0 rgba(2, 219, 167, 0.5);
/*	box-shadow: 0 1px 1px rgba(7,56,28,.61), inset 0 1px 1px rgba(255,255,255,.51);*/
	border: solid 1px #00812c;
	cursor:pointer;
	color: #fff;
	text-align:center;
}
.jzBtn {
	display: block;
	height: 29px;
	line-height: 29px;
	font-size: 16px;
	border-radius: 3px;
	 background:#c8000b;
	 border:none
	color: #fff;
	text-align:center;
	cursor:pointer;
	color:#FFFFFF
	}
.sendBtn:active {
	background: #2ab462;
}
.sendBtn span{ font-size:12px; margin-left:3px;}
.sharemcover {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.7);
display: none;
z-index: 20000;
}
.sharesuccessbox{
    margin-top:20%;
    color:#FFFFFF;
    font-size:32px;
}
.sharesuccessbox img{
    position: absolute;top:5px;right:5px;width:20px;height:20px;z-index:9999;
}



.hekatab{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.7);
display: none;
z-index: 20000;
}
/*
a:link{
color:#00F;
text-decoration:none;
}
a:visited {
color: #00F;
text-decoration:none;
}
a:hover {
color: #c00;
text-decoration:underline;
}
*/
ul{ list-style:none;}
/*选项卡1*/
#Tab1{
height: 50%;
    margin: 0 auto;
    padding: 0;
    width: 96%;
}
/*选项卡2*/
#Tab2{
width:576px;
margin:0px;
padding:0px;
margin:0 auto;}
/*菜单class*/
.Menubox {
width:100%;
/*background:url("/themes/Wap/default/common/css/Heka/tabicon.png");*/
 background: none repeat scroll 0 0 #F1F4F6;
display: inline-block;
    height: 28px;
    line-height: 25px;
    overflow: auto;
}
.Menubox ul{
margin:0px;
padding:0px;
}
.Menubox li{
float:left;
display:block;
cursor:pointer;
width:100%;
text-align:center;
color:#949694;
font-weight:bold;
font-size:12px;
}

#popmenu:after {
    border-color: #9D9D9D rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 5px 5px 0;
    left: 3px;
    position: relative;
    top: 7px;
    vertical-align: middle;
	 background: url("/themes/Wap/default/common/css/Heka/left.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.Left
{
background: url("/themes/Wap/default/common/css/Heka/left.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
height:29px;
width:30px;
margin-left:33%;
float:left;
}
.Right
{
background: url("/themes/Wap/default/common/css/Heka/right.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
height:29px;
width:30px;
float:right;
margin-right:33%;
}
.Menubox li.hover{
padding:0px;
background:#fff;
width:100px;
border-left:1px solid #A8C29F;
border-top:1px solid #A8C29F;
border-right:1px solid #A8C29F;
background:url("/themes/Wap/default/common/css/Heka/tabicon2.png");
color:#739242;
font-weight:bold;
height:27px;
line-height:27px;
}
.Contentbox{
 background-color: #FFFFFF;
clear:both;
margin-top:0px;
border:1px solid #A8C29F;
border-top:none;
height:231px;
text-align:center;
padding-top:8px;
}
.Contentlist
{
display: none;
width:100%;
}
.Contentlist ul
{
 text-align: left;
display:inline-block;
overflow-y:scroll;
width:100%;
height:100%;
}
.Contentlist li
{
line-height:25px;
font-size:14px;
border-bottom: 1px solid #A8C29F;
white-space:nowrap;     /*强制不换行*/
overflow:hidden;             /*自动隐藏文字*/
text-overflow: ellipsis;    /*文字隐藏后添加省略号*/
-o-text-overflow:ellipsis;  /*适用于opera浏览器*/
}
.Contentlist li input
{
margin-right:10%;
margin-left:2%;
}
.sharemcover img {
position: fixed;
right: 18px;
top: 5px;
width: 260px;
height: 180px;
z-index: 20001;
border:0;
}
.selectstyle {
background-color:#ffffff;
display: block;
line-height: 22px;
position: relative;
border:0;
margin: 5px 0;
border-radius: 3px;
background-clip: padding-box;
padding: 4px 0;
font-size: 12px;
width: 100%;
-webkit-appearance: button;
-webkit-user-select: none;
box-sizing: border-box;
-webkit-align-items: center;
-webkit-rtl-ordering: logical;
text-indent: 6px;
}
.selectstyle:after{content: ""; display: block; position: absolute; right: 10px; top:50%; margin-top:-10px; color: #ccc;z-index:1;}
.dh{ margin:0 15px;}
.fr{ float:right; width:33%;}
.arr {
position: fixed;
right: 30px;
top: 25px;
width: 16px;
height: 21px;
background: url(arr.png) center center no-repeat;
background-size: 16px 21px;
-webkit-transform: translateY(0);
-webkit-transition: -webkit-transform 200ms ease-in-out;
z-index:900;
}
.gift {
width: 60px;
height: 60px;
background: url(gift.png) center center no-repeat;
background-size: 60px 60px;
position: fixed;
right: 8px;
top: 45px;
z-index:899;
cursor:pointer;
-webkit-transform: rotate(0);
-webkit-transition: -webkit-transform 500ms ease-in-out;
}
.menu_font:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-width: 0 6px 6px;
    content: "";
    display: inline-block;
    height: 0;
    left: 70%;
    position: absolute;
    top: -6px;
    width: 0;
}
.menu_font {
    position: absolute;
    right: 10px;
    text-align: left;
  /*  top: 35px;*/
    z-index: 500;
}
.menu_font {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top: 10px;
    position: relative;
    width: 70px;
}
.menu_font li {
    border-bottom: 1px solid #000609;
    border-top: 1px solid #40484B;
}
.menu_font li:first-of-type {
    border-top: 0 none;
}
.menu_font li:last-of-type {
    border-bottom: 0 none;
}
.menu_font a {
    color: #FFFFFF;
    display: block;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    position: relative;
    text-indent: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.menu_font a:before {
    margin-right: 5px;
}
.menu_font.hidden {
    display: none;
}
.window {
    background-color: #F1F1F1;
    border-radius: 0.6em;
    bottom: 70px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
    font: 14px/1.5 Microsoft YaHei,Helvitica,Verdana,Arial,san-serif;
    left: 50%;
    margin: 0 auto 0 -136px;
    padding: 2px;
    position:fixed;
    width: 267px;
    z-index: 1000;
}

.window .wtitle {
    background-color: #585858;
    border-radius: 0.5em 0.5em 0 0;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 26px;
    padding: 5px 5px 5px 10px;
}

.window .wtitle .close {
    background-image: url("/images/media/images/mwm/msg/12QJ8o7KOek84fkCWSBtfL+Ny2MPpCkPFMH6PWEhWhKncIyEk69VfiUuVhqJefds+YcwNbEwxGqGIFWYAAAAASUVORK5CYII=");
    display: block;
    float: right;
    height: 26px;
    width: 26px;
}

.window .content {
    color: #222222;
    overflow: auto;
    padding: 10px;
    text-shadow: 0 1px 0 #FFFFFF;
}

.window #txt {
    font-size: 14px;
    line-height: 20px;
    min-height: 30px;
}

.btnPink {
    background: none repeat scroll 0 0 rgba(238, 130, 107, 0.63);
    border-radius: 0.9em;
    color: #FFFFFF !important;
    display: inline-block;
    float: left;
    font-size: 1.2em;
    line-height: 2em;
    margin: 0 7%;
    text-align: center;
    text-decoration: none;
    width: 35%;
}

.btnBlue {
    background: none repeat scroll 0 0 rgba(75, 189, 198, 0.63);
    border-radius: 0.9em;
    color: #FFFFFF !important;
    display: inline-block;
    float: left;
    font-size: 1.2em;
    line-height: 2em;
    margin: 0 7%;
    text-align: center;
    text-decoration: none;
    width: 35%;
}

.btnBox {
    bottom: 0;
    height: 3em;
    line-height: 3em;
    position: fixed;
    width: 100%;
}


.btn_music {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: url("play.png") no-repeat center center;
    background-size: 100% auto;
    position: absolute;
    z-index: 100;
    left: 15px;
    top: 30px;
}

.btn_music.on {
    background-image: url("stop.png");
}
#sharemcover0 img {
    position: fixed;
    right: 0;
    top: 5px;
    width: 100%!important;
    z-index: 20001;
}