


/*########################*/
/*#######   footer #######*/
/*########################*/

#bottom_ad {
    width: 100%;
    height: 40px;
    display:block;
    overflow:hidden;
    margin:0 auto;
    /*border: #b5b5b5 1px solid;*/
    background: #3d5477;
    float: right;
    right: 0px;
    bottom: -0.5px;
    position: fixed;/*固定定位*/
    _position: absolute;/*兼容IE6*/
    _top: expression(offsetParent.scrollTop+document.documentElement.clientHeight-this.offsetHeight);/*兼容IE6*/
    z-index: 999;
}
/*固定底部的效果是上面的样式在起作用，下面的样式均属于装饰，你可以随意修改。*/
#bottom_ad .ad_body{ width:97%; height:auto; display:block; margin:0 auto; font-size:13px;}
#bottom_ad .ad_body{ padding:6px 0px 6px 0px;}
#bottom_ad .tit h2{height:24px; line-height:24px;display:block; background-color:#999999;}
#bottom_none{ display:none;}
.close {
    display: block;
    float: right;
    color: #fff;
    cursor: pointer;
    line-height: 1em;
    white-space: nowrap;
    width: 6%;
    position: absolute;
    top: 0;
    right: 1%;
    font-size: 1.5em;
    margin-top: 1%;
    opacity: 1;
}


.footer {
    text-align: center;
    height: 60px;
    position: fixed;
    bottom: -1px;
    left: 0;
    width: 100%;
    background-color: #3d5477;

}

.footer-logo {
    display: block;
    float: left;
    color: #fff;
    cursor: pointer;
    line-height: 1em;
    white-space: nowrap;
    width: 8%;
    margin-right: 3%;

}

.footer-text {
    display: block;
    float: left;
    color: #fff;
    cursor: pointer;
    line-height: 1em;
    white-space: nowrap;
    width: 46%;
}

.footer-btn{
    padding: 2%;
    background-color: #4dc3ff !important;
    border-radius: 5px !important;
    display: block;
    float: right;
    color: #fff;
    cursor: pointer;
    line-height: 1em;
    width: 18%;
    margin-right: 7%;

}
.btn.blue:hover, .btn.blue:focus, .btn.blue:active, .btn.blue.active, .btn.blue[disabled], .btn.blue.disabled{
    background-color: #45b0e5 !important;
}

/*########################*/
/*#######   footer end  #######*/
/*########################*/

