.arrow {
    position: fixed;
    z-index: 100;
    width: 96px;
    height: 96px;
    background: url(../img/up.png) no-repeat;
    background-size:100%;
    bottom: 30px;
    left: 50%;
    text-align: center;
    margin-left: -50px;
    animation: arrowUp 2s infinite ease-in;
    -webkit-animation: arrowUp 2s infinite ease-in;
}
@keyframes arrowUp {
    0% {transform:translateY(42px);opacity: 0;}
    60% {transform:translateY(12px); opacity: 1;}
    100% {transform:translateY(0px); opacity: 0;}
}
@-webkit-keyframes arrowUp {
    0% {-webkit-transform:translateY(42px);opacity: 0;}
    60% {-webkit-transform:translateY(12px); opacity: 1;}
    100% {-webkit-transform:translateY(0px); opacity: 0;}
}